/* =============================================================================

    ERROR CSS

    Authored by:
        - Josh Beveridge

============================================================================= */
.section--error {
    background-position: center;
    background-size: cover;
    max-height: 100%;
    min-height: 100vh;
    position: relative;
    width: 100%;

    &:before {
        background: rgba(5, 5, 5, .7);
        content: " ";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
    }

}

.error__content-wrapper {
    margin: 0 auto;
    max-width: 35rem;
    padding: 8rem 0;
    position: relative;
    text-align: center;
    width: 90%;
    z-index: 10;
}

.error__title {
    color: white;
    font-size: 8rem;
    /* font-weight: 500; */
    margin: 0 0 2rem 0;
}

.error__subtitle {
    color: white;
    margin: 0 0 2rem 0;
}

.error__notice {
    /* background: white; */
    border: 1px solid $palette-red;
    border-radius: 3px;
    padding: 1rem;
    margin: 0 0 2rem;
    text-align: left;
}

.error__notice-title {
    color: $palette-red;
    margin: 0 0 1rem 0;
}

.error__notice-copy {
    color: white;
    font-family: $font-pt;
    font-size: $font-scale-regular;
    line-height: 1.5;
    margin: 0 0 1rem 0;

    &:last-of-type {
        margin-bottom: 0;
    }

}

.error__button-wrapper {

}

.error__button {

}
