/* =============================================================================

    FOOTER CSS

    Authored by:
        - Josh Beveridge

============================================================================= */

/* Raid Message */
.raid-message__wrapper {
    margin: calc($unit * 3) 0 calc($unit * 1.5);
    text-align: center;

    @media $(l-tablet) {
        margin: calc($unit * 4) 0 calc($unit * 2.5);
    }

}

.raid-message__copy {

    i {
        vertical-align: text-bottom;
    }

}

.raid-message__link {

    a {
        color: $red;
    }

}

/* Footer */
footer,
section.footer {
    background: white;
    border-top: 1px solid $palette-borders;
    padding: calc($unit * 3) 0 calc($unit * 7.5);
    text-align: center;

    @media $(media-navigation) {
        padding: calc($unit * 3) 0;
    }

    @media screen and (orientation: landscape) and (min-width: 70em) {
        padding: calc($unit * 5) 0;
    }

}

.footer__title {
    color: $font-black;
    font-family: $font-aktiv;
    font-size: $font-scale-h4;
    font-weight: 800;
    margin: 0 0 $padding-regular 0;

    @media $(p-tablet) {
        /*margin: 0 0 calc($medium-padding/2) 0;*/
    }

}

.footer__subtitle {
    color: $font-black;
    font-family: $font-aktiv;
    font-size: $font-scale-regular;
    font-weight: 800;
}

.footer__form {
    margin: 0 auto $padding-regular auto;
    max-width: 35rem;

    @media $(p-tablet) {
        margin: 0 auto $padding-medium auto;
    }

    .footer__form-submission-message {
        color: $palette-red;
        display: none;
        font-family: $font-aktiv;
        font-size: $font-scale-regular;
        font-weight: 400;
    }

    label {
        display: block;
        color: $red;
        font-family: $font-aktiv;
        font-size: $font-scale-small;
        font-weight: 800;
        line-height: 1.5rem;
        text-align: left;

        &:first-child {
            margin-top: 0;
        }

    }

    h5 {
        margin: $padding-regular 0;
    }

    select {
        appearance: none;
        background: none;
        background-color: $palette-white;
        background-position: center right;
        background-repeat: no-repeat;
        background-size: contain;
        border: 1px solid $palette-borders;
        border-radius: 0;
        color: $font-black;
        display: block;
        font-family: $font-aktiv;
        font-size: $font-scale-regular;
        font-weight: 300;
        line-height: 1.5;
        margin: 0 0 $padding-small 0;
        outline: none;
        padding: .5rem 3rem .5rem .5rem;
        width: 100%;

        &:focus {
            border: 1px solid $red;
        }

    }

    textarea {
        appearance: none;
        background: $palette-white;
        border: 1px solid $palette-borders;
        color: $font-black;
        display: block;
        font-family: $font-aktiv;
        font-size: $font-scale-regular;
        font-weight: 300;
        height: 10rem;
        line-height: 1.5;
        margin: 0 0 $padding-small 0;
        outline: none;
        padding: .5rem;
        width: 100%;

        &:focus {
            border: 1px solid $red;
        }

    }

    input[type="text"] {
        appearance: none;
        background: $palette-white;
        border: 1px solid $palette-borders;
        color: $font-black;
        display: block;
        font-family: $font-aktiv;
        font-size: $font-scale-regular;
        font-weight: 300;
        line-height: 1.5;
        margin: 0 0 $padding-small 0;
        outline: none;
        padding: .5rem;
        width: 100%;

        &:focus {
            border: 1px solid $red;
        }

    }

    input[type="submit"] {
        appearance: none;
        background: none;
        border: 3px solid $palette-red;
        color: $font-black;
        cursor: pointer;
        display: inline-block;
        font-family: $font-aktiv;
        font-size: $font-scale-small;
        font-weight: 400;
        margin: $unit 0 0 0;
        padding: $unit calc($unit * 2);
        text-decoration: none;
        transition: all .2s ease;
    }

    &.submitted {

        .footer__form-submission-message {
            display: block;
        }

        label,
        h5,
        select,
        textarea,
        input[type="text"],
        input[type="submit"],
        br {
            display: none;
        }

    }

}

.no-touchevents {

    .footer__form {

        input[type="submit"]:hover {
            background: $palette-red;
            border: 3px solid $palette-red;
            color: $palette-white;
            transition: all .2s ease;
        }

    }

}

.footer__link {

}

.footer__copy {
    color: rgba(100, 100, 100, 1);
    font-family: $font-aktiv;
    font-size: $font-scale-small;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;

    a {
        color: $palette-red;
    }

}
