/* =============================================================================

    GUIDE METADATA CSS

    Authored by:
        - Josh Beveridge

============================================================================= */
.guide-metadata {
    background: $palette-white;
    border: 1px solid $palette-borders;
    border-radius: 5px 5px 0 0;
    overflow: hidden;

    @media $(p-tablet) {
        /* display: grid; */
        /* grid-template-columns: 1fr 1fr; */
    }

    @media screen and (orientation: landscape) and (min-width: 80em) {
        border-radius: 5px 0 0 5px;
        /* display: block; */
    }

}

.guide-metadata__video-link {
    border-bottom: 1px solid $palette-borders;
    color: $palette-red;
    display: block;
    font-family: $font-aktiv;
    font-size: $font-scale-regular;
    font-weight: 800;
    padding: calc($unit * 1.5);
    position: relative;
    text-align: center;
    transition: all .2s ease;

    @media $(l-tablet) {
        padding: calc($unit * 1.95) calc($unit * 1.5);
    }

}

.no-touchevents {

    .guide-metadata__video-link:hover {
        background: $palette-red;
        color: white;
        transition: all .2s ease;
    }

}

.guide-metadata__new {
    background: $palette-red;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
    color: white;
    font-family: $font-aktiv;
    font-size: $font-scale-small;
    font-weight: 700;
    line-height: 1rem;
    min-width: 6rem;
    padding: .6rem .5rem .5rem .5rem;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 50%;
    text-align: center;
    transform: translate3d(-50%, -75%, 0);

    &:before {
        background: $palette-red;
        content: " ";
        display: block;
        height: .5rem;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%) rotate(45deg);
        width: .5rem;
    }

}

.guide-metadata__grid {

    @media $(p-tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (orientation: landscape) and (min-width: 80em) {
        display: block;
    }

}

.guide-metadata__wrapper {
    border-bottom: 1px solid $palette-borders;
    padding: calc($unit * 1.5);

    @media $(p-tablet) {
        /*border-bottom: none;*/
    }

    @media screen and (orientation: landscape) and (min-width: 80em) {
        /*border-bottom: 1px solid $palette-borders;*/
    }

    &:first-child {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .guide-metadata__subtitle:first-child {

        @media $(p-tablet) {
            margin-top: 0;
        }
        
    }

}

[class*="guide-metadata__difficulty"] {
    color: $palette-white;
    display: block;
    font-family: $font-aktiv;
    font-size: $font-scale-regular;
    font-weight: 800;
    margin: 0 0 1rem 0;
    padding: $unit;
    text-align: center;
    width: 100%;

    @media $(p-tablet) {
        margin: 0;
    }

    &[class*="normal"] {
        background: $palette-green;
    }

    &[class*="hard"] {
        background: $palette-yellow;
    }

    &[class*="extreme"] {
        background: $palette-red;
    }

}

.guide-metadata__subtitle {
    color: $font-black;
    font-family: $font-aktiv;
    font-size: $font-scale-regular;
    font-weight: 800;
    margin: 1rem 0;

    &:last-child {
        margin-bottom: 0;
    }

    span {
        color: $palette-red;
        display: block;
        font-weight: 400;
        margin: calc($unit / 2) 0 0 0;

        a {
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            margin: 0;
        }

    }

}

.guide-metadata__menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: calc($unit * 1.5);

    @media $(p-tablet) {
        border-right: 1px solid $palette-borders;
        display: block;
    }

    @media screen and (orientation: landscape) and (min-width: 80em) {
        border-right: none;
        border-bottom: 1px solid $palette-borders;
    }

    .guide-metadata__subtitle {
        margin: 0;
    }

    li {
        margin: $unit 0;

        &:last-child {
            margin-bottom: 0;
        }

    }

}

.guide-metadata__submenu {
    list-style: disc;
    margin: 0;
    padding: 0;

    li {
        margin: calc($unit / 2) 0 calc($unit / 2) calc($unit * 1.5);
    }

}

.guide-metadata__menu-link {
    color: $palette-red;
    font-family: $font-aktiv;
    font-size: $font-scale-regular;
    font-weight: 400;
}
