/* =============================================================================

    GUIDE INDEX CSS

    Authored by:
        - Josh Beveridge

============================================================================= */

.guide-index {
    background: rgba(245, 245, 245, 1);
    padding: $padding-regular 0 calc($padding-regular + 1);

    .flex-grid {

        @media $(p-tablet) {
            margin: calc($padding-unit * -1)
        }

    }

}

/* Index Search Form ======================================================== */
.guide-index__search-form {
    /* The +1 here accounts for the label above. */
    padding: 0 0 calc($padding-unit) 0;
    width: 100%;

    label {
        display: block;
        color: $red;
        font-family: $font-aktiv;
        font-size: $font-scale-small;
        font-weight: 800;
        line-height: 1.5rem;
        margin: 0;
        text-align: left;
    }

    input {
        appearance: none;
        background: $white;
        border: 1px solid #CCC;
        color: $font-black;
        display: block;
        font-family: $font-aktiv;
        font-size: $font-scale-regular;
        font-weight: 300;
        line-height: 1.5;
        outline: none;
        padding: .7rem 1rem;
        width: 100%;

        &:focus {
            border: 1px solid $red;
        }

    }

}

/* No Results =============================================================== */
.guide-index__null-state {
    display: none;
    text-align: center;

    @media $(p-tablet) {
        padding: $padding-regular 0;
    }

    p {
        color: $font-black;
        font-family: $font-pt;
        font-size: $font-scale-regular;
        margin: $padding-regular 0;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            color: $red;
        }

    }

}

/* Guide Index ============================================================== */
.guide-index__section-title {

    @media $(p-tablet) {
        padding: 0 $padding-unit !important;
    }

    h3 {
        font-family: $font-cinzel;
        font-size: $font-scale-h3;
        font-weight: 500;
        margin: calc($padding-regular * 1.5) 0 0 0;
        text-transform: uppercase;
    }

    hr {
        background: $red;
        border: none;
        height: 1px;
        margin: .5rem 0 1rem 0;
    }

}

.guide-index__guide {
    padding: $padding-unit 0;

    @media $(p-tablet) {
        padding: $padding-unit !important;
    }

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 0;
    }

}

.guide-index__guide-link {
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    padding: $padding-medium $padding-regular;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.guide-index__guide-overlay {
    background: rgba(0, 0, 0, .6);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease;
    width: 100%;
}

.no-touchevents {

    .guide-index__guide:hover {

        .guide-index__guide-overlay {
            background: rgba(0, 0, 0, .25);
            transition: all .2s ease;
        }

    }

}

.guide-index__guide-title {
    color: $white;
    margin: 0 0 1rem 0;
    position: relative;
}

.guide-index__ilvl {
    color: $red;
    font-size: $font-scale-small;
    font-weight: 500;
    line-height: 1;
    position: relative;
}
