/* =============================================================================

    GUIDE EVENT CSS

    Authored by:
        - Josh Beveridge

============================================================================= */

.guide__event {
    /*background: $white;*/
    /*border: 1px solid rgba(10, 10, 10, 1);*/
    /*border-radius: 3px;*/
    /*margin: 0 0 $padding-unit 0;*/
}

.guide__event-accordion-trigger {
    background: rgba(30, 30, 30, 1);
    cursor: pointer;

    h3 {
        color: $white;
    }

    .box {
        padding: $padding-unit;

        @media $(p-tablet) {
            padding: $padding-regular;
        }

        &:first-child {

        }

        &:last-child {
            padding: $padding-unit 0;
            text-align: center;

            @media $(p-tablet) {
                padding: $padding-regular;
                text-align: right;
            }

        }

    }

    &.active {

        .box {

            &:last-child {

                i {
                    color: $red;
                    transform: rotate(180deg);
                }

            }

        }

    }

}

.guide__event-accordion-content {

}

/* Boss Accordions ========================================================== */
.guide__boss-accordion-trigger {
    background: rgba(50, 50, 50, 1);
    border-top: 1px solid black;
    cursor: pointer;
    /*padding: $padding-unit $padding-regular;*/

    .box {
        padding: $padding-unit;

        @media $(p-tablet) {
            padding: $padding-regular;
        }

        &:first-child {

            h3 {
                color: $white;
            }

        }

        &:last-child {
            padding: $padding-unit 0;
            text-align: center;

            @media $(p-tablet) {
                padding: $padding-regular;
                text-align: right;
            }

            h3 {
                color: $white;
            }

        }

    }

    &.active {

        .box {

            &:last-child {

                i {
                    color: $red;
                    transform: rotate(180deg);
                }

            }

        }

    }

}

.guide__boss-accordion-content {

}

/* Event Objects ============================================================ */
.guide__event-object {
    background: $white;
    border-top: 1px solid black;
    /*border-radius: 3px;*/
    /*margin: 0 0 $padding-unit;*/
    padding: $padding-unit;

    @media $(p-tablet) {
        padding: $padding-regular;
    }

}

.guide__event-object--attack {
    background: $white;
    border-top: 1px solid black;
    /*border-radius: 3px;*/
    /*margin: 0 0 $padding-unit;*/
    padding: 0;
}

/* Event Divider ============================================================ */
.guide__event-divider {
    background: $red;
    border: none;
    height: 1px;
    margin: $padding-regular 0;

    &:last-child {
        display: none;
    }

}
