/* =============================================================================

    GUIDE CONTENT CSS

    Authored by:
        - Josh Beveridge

============================================================================= */

.guide-content {
    background: $palette-accordion-1;
    border-top: 1px solid $palette-borders;
    border-right: 1px solid $palette-borders;
    border-bottom: 1px solid $palette-borders;
    border-radius: 0 5px 5px 0;
}

.guide__content-container {
    max-width: 45rem;
}
