/* =============================================================================

    GUIDE ATTACK CSS

    Authored by:
        - Josh Beveridge

============================================================================= */

/* Attack Tags */
.guide__attack-tags-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 0 calc($unit * 2) 0;
}

.guide__attack-tags-wrapper--combo {
    margin: calc($unit * 2) 0;
}

.guide__attack-tags-title {
    color: $font-black;
    font-family: $font-aktiv;
    font-size: $font-scale-regular;
    font-weight: 800;
    margin: 0;
}

.guide__attack-role-tag {
    color: $palette-blue;
    display: inline-block;
    font-family: $font-aktiv;
    font-size: $font-scale-regular;
    font-weight: 800;
}

.guide__attack-action-tag {
    color: $palette-purple;
    display: inline-block;
    font-family: $font-aktiv;
    font-size: $font-scale-regular;
    font-weight: 800;
}

.guide__attack-type-tag {
    color: $palette-red;
    display: inline-block;
    font-family: $font-aktiv;
    font-size: $font-scale-regular;
    font-weight: 800;
}

/* Attack Notes */

.guide__attack-notes-wrapper {
    display: block;
    max-width: 45rem;
    width: 100%;

    &:last-child {

        .guide__attack-notes-list {
            margin-bottom: 0;
        }

    }

}

.guide__attack-notes-title {
    color: $font-black;
    font-family: $font-aktiv;
    font-size: $font-scale-regular;
    font-weight: 800;
    margin: 0;
}

.guide__attack-notes-list {
    display: block;
    margin: calc($unit / 2) 0 calc($unit * 2) 0;
    /*max-width: 45rem;*/
    padding: 0 0 0 calc($unit * 1.2);
    width: 100%;
}

.guide__attack-notes-item {
    color: $font-black;
    font-family: $font-pt;
    font-size: $font-scale-regular;
    line-height: 1.5;
    margin: 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

}

.guide__attack-notes-icon,
.guide-trial__status-icon {
    display: inline-block;
    margin: 0 0 -.2rem 0;
    width: 1rem;
}

/* Attack Images ============================================================ */
.guide__attack-image-list {

    @media $(p-tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}

body[id*="Edge"],
body[id*="Trident"] {

    .guide__attack-image-item:nth-child(1) {

        @media $(p-tablet) {
            -ms-grid-column: 1;
        }

    }

    .guide__attack-image-item:nth-child(2) {

        @media $(p-tablet) {
            -ms-grid-column: 2;
        }

    }

    .guide__attack-image-item:nth-child(3) {

        @media $(p-tablet) {
            -ms-grid-column: 3;
        }

    }

}

.guide__attack-image-item {
    cursor: pointer;

    &.active {

        @media $(p-tablet) {
            grid-column-start: 1;
            grid-column-end: 10;
        }

    }

    img {

    }

}
