/* =============================================================================

    GUIDE SKILL SCRIPT CSS

    Authored by:
        - Josh Beveridge

============================================================================= */

.guide__script-wrapper {
    display: block;
    margin: calc($unit * 2) 0;
    max-width: 45rem;
    width: 100%;

    &:last-child {
        margin-bottom: 0;
    }

}

.guide__script-attack {
    color: $palette-red;
    font-family: $font-aktiv;
    font-size: $font-scale-regular;
    font-weight: 700;
    line-height: 1.8;

    &.duty-action {
        color: $palette-purple;
    }

}

.guide__script-divider {
    color: $font-black;
    font-size: $font-scale-regular;

    i {
        color: $font-black;
        font-size: inherit;
        line-height: 1;
        vertical-align: middle;
    }

}
