/* =============================================================================

    GUIDE EVENT CSS

    Authored by:
        - Josh Beveridge

============================================================================= */

.guide__event {

}

.guide__event-accordion-trigger {
    background: #333;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 0 $padding-unit 0;
    padding: $padding-regular;
    text-align: center;

    h2 {
        color: $white;
    }

}

.guide__event-accordion-content {

}

/* Boss Accordions ========================================================== */
.guide__boss-accordion-trigger {
    background: $white;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 0 $padding-unit 0;
    padding: $padding-unit $padding-regular;
    text-align: center;

    h3 {
        /*color: $red;*/
    }

    &.active {
        border: 1px solid $red;
    }

}

.guide__boss-accordion-content {

}

/* Event Objects ============================================================ */
.guide__event-object {
    background: $white;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin: 0 0 $padding-unit;
    padding: $padding-unit;

    @media $(p-tablet) {
        padding: $padding-regular;
    }

}

.guide__event-object--attack {
    background: $white;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin: 0 0 $padding-unit;
    padding: 0;
}

/* Event Divider ============================================================ */
.guide__event-divider {
    background: $red;
    border: none;
    height: 1px;
    margin: $padding-regular 0;

    &:last-child {
        display: none;
    }

}
