/* =============================================================================

    GUIDE LAYOUT CSS

    Authored by:
        - Josh Beveridge

============================================================================= */
.guide-layout {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    padding: calc($unit * 2) calc($unit * 1.5) 0 calc($unit * 1.5);

    @media $(p-tablet) {
        padding: calc($unit * 2) calc($unit * 2) 0 calc($unit * 2);
    }

    @media $(media-navigation) {
        padding: calc($unit * 3) calc($unit * 3) 0 calc($unit * 3);
    }

    @media screen and (orientation: landscape) and (min-width: 70em) {
        padding: calc($unit * 5) calc($unit * 5) 0 calc($unit * 5);
    }

    @media screen and (orientation: landscape) and (min-width: 80em) {
        grid-template-columns: 20% 80%;
    }

}
