/* =============================================================================

    GUIDE ALERTS CSS

    Authored by:
        - Josh Beveridge

============================================================================= */

.guide__alerts-wrapper {
    display: block;
    margin: $unit 0 calc($unit * 2) 0;
    max-width: 45rem;
    width: 100%;

    &:last-child {
        margin-bottom: 0;
    }

}

.guide__alerts-list {
    margin-bottom: 0;
    padding: 0 0 0 calc($unit * 1.2);
}

.guide__alerts-item {
    color: $font-black;
    font-family: $font-pt;
    font-size: $font-scale-regular;
    line-height: 1.5;
    margin: 0;
}
