/* =============================================================================

    INDEX GRID CSS

    Authored by:
        - Josh Beveridge

============================================================================= */
.site-index {
    padding: 0 0 calc($unit * 3) 0;

    @media $(media-navigation) {
        padding: 0 0 calc($unit * 3) 0;
    }

    @media screen and (orientation: landscape) and (min-width: 70em) {
        padding: 0 0 calc($unit * 5) 0;
    }

}

.index-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: calc($unit * 1.5);
    grid-row-gap: calc($unit * 1.5);
    padding: 0 calc($unit * 1.5);

    @media $(p-tablet) {
        grid-template-columns: 1fr 1fr;
    }

    @media $(media-navigation) {
        padding: 0 calc($unit * 3);
    }

    @media screen and (orientation: landscape) and (min-width: 70em) {
        padding: 0 calc($unit * 5);
    }

    @media screen and (min-width: 80em) {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

.index-item {
    border-radius: 5px;
    overflow: hidden;
}

.index-item__link {
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: calc($unit * 5) calc($unit * 3) calc($unit * 4.5) calc($unit * 3);
    position: relative;
    text-align: center;
    text-decoration: none;

    &:before {
        background: $palette-overlay;
        content: " ";
        display: block;
        height: 100%;
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity .2s ease;
        width: 100%;
        z-index: 5;
    }

}

.no-touchevents {

    .index-item__link:hover {

        &:before {
            opacity: .5;
            transition: opacity .2s ease;
        }

    }

}

[class*="index-item__tag"] {
    color: $palette-white;
    font-family: $font-aktiv;
    font-size: $font-scale-small;
    font-weight: 400;
    padding: calc($unit / 2) $unit;
    position: absolute;
    top: calc($unit * 1.5);
    left: 0;
    z-index: 10;

    &[class*="normal"] {
        background: $palette-index-tag-green;
    }

    &[class*="hard"] {
        background: $palette-index-tag-yellow;
    }

    &[class*="extreme"] {
        background: $palette-index-tag-red;
    }

}

[class*="index-item__title"] {
    color: $palette-white;
    font-family: $font-aktiv;
    font-size: $font-scale-h1;
    font-weight: 800;
    margin: 0 0 $unit 0;
    position: relative;
    z-index: 10;

    &.h3 {
        font-size: $font-scale-h3;
    }

    &.h4 {
        font-size: $font-scale-h4;
    }

    span {
        display: none;
    }

}

.index-item__subtitle {
    color: $palette-red;
    font-family: $font-aktiv;
    font-size: $font-scale-small;
    font-weight: 700;
    margin: 0;
    position: relative;
    z-index: 10;
}
