/* =============================================================================

    EDGE/IE11 CSS

    Authored by:
        - Josh Beveridge

============================================================================= */

body[id*="Edge"],
body[id*="Trident"] {
    height: 100%;

    /* Site Grid ============================================================ */
    .site-grid__sidebar {
        height: 100vh;
    }

    /* Site Header ========================================================== */
    .site-header__grid {
        display: block;

        @media $(p-tablet) {
            display: -ms-grid;
        }

    }

    .site-header__item-a {

        @media $(p-tablet) {
            -ms-grid-column: 1 !important;
        }

    }

    .site-header__item-b {

        @media $(p-tablet) {
            -ms-grid-column: 2 !important;
        }

    }

    /* Guide Index ========================================================== */
    .index-grid {
        display: block;

        @media $(p-tablet) {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -.75rem -1.5rem;
        }

    }

    .index-item {
        flex: 0 0 100%;
        margin: 0 0 calc($unit * 1.5) 0;
        max-width: 100%;

        @media $(p-tablet) {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 .75rem;
        }

        @media $(desktop) {
            flex: 0 0 calc(100%/3);
            max-width: calc(100%/3);
        }

        >a {

            @media $(p-tablet) {
                border-radius: 5px;
                overflow: hidden;
            }

        }

    }

    /* Guide Content ======================================================== */
    .guide-content {

        @media screen and (max-width: 79.9em) {
            -ms-grid-row: 2;
        }

        @media screen and (orientation: landscape) and (min-width: 80em) {
            -ms-grid-column: 2;
        }

    }

    /* Guide Metadata ======================================================= */
    .guide-metadata__menu {

        @media screen and (min-width: 48em) and (max-width: 79.9em) {
            -ms-grid-column: 2;
        }

    }

    /* Attack Images ======================================================== */
    .guide__attack-image-item:nth-child(1) {

        @media $(p-tablet) {
            -ms-grid-column: 1;
        }

    }

    .guide__attack-image-item:nth-child(2) {

        @media $(p-tablet) {
            -ms-grid-column: 2;
        }

    }

    .guide__attack-image-item:nth-child(3) {

        @media $(p-tablet) {
            -ms-grid-column: 3;
        }

    }

}
