/* =============================================================================

    GUIDE HERO CSS
    Authored by Josh Beveridge

============================================================================= */
.guide__hero {
    background-position: center;
    background-size: cover;
    padding: $small-padding 0;
    position: relative;
    text-align: center;

    @media $(p-tablet) {
        padding: $medium-padding 0;
    }

    @media $(l-tablet) {
        padding: $large-padding 0;
    }

}

.guide__hero-overlay {
    background: rgba(0, 0, 0, .6);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.guide__title {
    color: $white;
    margin: 0 0 calc($small-padding/2) 0;
    position: relative;
}

.guide__patch {
    color: $white;
    font-size: $font-scale-small;
    font-weight: 500;
    margin: 0 0 calc($small-padding/4) 0;
    position: relative;
}

.guide__ilvl {
    color: $red;
    font-size: $font-scale-small;
    font-weight: 500;
    margin: 0 0 calc($small-padding/4) 0;
    position: relative;
}

.guide__intro {
    color: $white;
    font-family: $font-pt;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 0 $small-padding 0;
    position: relative;

    a {

    }

}

.guide__hero-button {
    position: relative;
}
