/* =============================================================================

    GUIDE INDEX HERO CSS
    Authored by Josh Beveridge

============================================================================= */
.guide-index__hero {
    background-position: center;
    background-size: cover;
    padding: $small-padding 0 0 0;
    position: relative;
    text-align: center;

    @media $(p-tablet) {
        padding: $medium-padding 0 0 0;
    }

    @media $(l-tablet) {
        padding: $large-padding 0 0 0;
    }

}

.guide-index__hero-overlay {
    background: rgba(0, 0, 0, .75);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.guide-index__title {
    color: $white;
    line-height: 1;
    margin: 0 0 2.5rem 0;
    position: relative;

    span {
        color: $white;
    }

}

.guide-index__subtitle {
    color: $red;
    margin: -1rem 0 2rem 0;
    position: relative;
}

.guide-index__intro {
    color: $white;
    font-family: $font-pt;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 0 calc($small-padding/2) 0;
    position: relative;

    @media $(p-tablet) {
        font-size: 1rem;
    }

    a {

    }

}

.guide-index__roadmap {
    color: $white;
    font-family: $font-pt;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 0 $small-padding 0;
    position: relative;

    @media $(p-tablet) {
        font-size: 1rem;
    }

    a {
        color: $red;
    }

}

.guide-index__hero-button {
    position: relative;
}

.guide-index__hero-category-wrapper {
    padding-top: $small-padding;
    position: relative;

    @media $(p-tablet) {
        padding-top: $medium-padding;
        text-align: left;
    }

    @media $(l-tablet) {
        padding-top: $large-padding;
    }

}

.guide-index__hero-category {
    color: $white;
    display: inline-block;
    font-family: $font-aktiv;
    font-weight: 300;
    line-height: 1;
    margin: -.8rem .5rem 0 .5rem;
    padding-bottom: .5rem;
    text-decoration: none;

    &.active {
        border-bottom: .3rem solid $red;
        color: $red;
    }

}
