/* =============================================================================

    GUIDE RETURN LINK CSS
    Authored by Josh Beveridge

============================================================================= */
.guide__return-link {
    background: $red;
    display: block;
    padding: .7rem 0;
    text-decoration: none;
    transition: all .2s ease;

    span {
        color: $font-white;
        font-family: $font-aktiv;
        font-size: $font-scale-small;
        font-weight: 300;
        text-decoration: none;
        text-transform: uppercase;
    }

    i {
        margin: 0 .5rem 0 0;
    }

}

.no-touchevents {

    .guide__return-link:hover {
        background: #da3e43;
        transition: all .2s ease;
    }

}
