/* =============================================================================

    SPLASH CSS
    Authored by Josh Beveridge

============================================================================= */
.splash {
    height: 100vh;
    max-width: 100%;
    position: relative;
    width: 100vw;
}

.splash__content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;

    img {
        margin: 0 0 2rem 0;
        width: 5rem;
    }

    h4 {
        margin: 0 0 1rem 0;
    }

    a {
        color: $red;
        font-family: $font-aktiv;
        font-size: $font-scale-regular;
        font-weight: 30;
    }

}
