<section class="attribution">

    <div class="content-container">

        <h4 class="heading--04 attribution__title">Can't find something or want to recommend a change?</h4>

        <a href="https://twitter.com/intent/tweet?screen_name=FF14PocketGuide" title="Tweet at the Pocket Guide" class="button--small--red attribution__link" target="_blank">Get in Touch</a>

        <p class="attribution__copy">All guide content has been transcribed by <a href="/" title="Go to Josh's Website">@joshdrink</a> from video guides created by <a href="https://twitter.com/MTQcapture" title="Go to MTQCapture's Twitter">@MTQCapture</a>.
        <br>
        <br>
        Website built by <a href="/" title="Go to Josh's Website">@joshdrink</a>.
        </p>

    </div>

</section>
