<footer>
    <div class="content-container">
        <p class="footer__copy">This site is produced collaboratively by <a href="https://twitter.com/lionsliege" target="_blank" title="Visit Liege on Twitter.">@LionsLiege</a>, <a href="https://na.finalfantasyxiv.com/lodestone/character/12774809/" target="_blank" title="Visit Demosthenes on the Lodestone.">Demosthenes Lorelai</a>, <a href="https://na.finalfantasyxiv.com/lodestone/character/14514962/" target="_blank" title="Visit Divine on the Lodestone.">Divine Angel</a>, and <a href="https://na.finalfantasyxiv.com/lodestone/character/3758032/" target="_blank" title="Visit Shiro on the Lodestone.">Shiro Astral</a> with the help of video guides created by <a href="https://twitter.com/MTQcapture" title="Go to MTQcapture's Twitter." target="_blank">@MTQcapture</a>.
    </div>
</footer>
