<a id="issueForm" href="#"></a>

<footer>

    <div class="content-container">

        <h4 class="footer__title">Can't find something or want to recommend a change?</h4>

        <form class="footer__form" name="gform" id="gform" enctype="text/plain" action="https://docs.google.com/forms/d/e/1FAIpQLSdHSn6OD7Wfho5pJjJgmbJDs-UQB_bAvAl2EZwYMEmUW4d9VA/formResponse?" target="hidden_iframe" onsubmit="submitted=true;">
            <label for="entry.1855835584">Type of Feedback</label>
            <select name="entry.1855835584" id="entry.1855835584" style="background-image: url('{{ "/assets/img/select.png" | prepend: site.baseurl }}')">
                <option>I want to suggest a change to a guide.</option>
                <option>I found a bug on the website.</option>
                <option>I have feedback on the user interface.</option>
                <option>I have other feedback.</option>
            </select>
            <label for="entry.989951165">Guide or Page Name</label>
            <input type="text" name="entry.989951165" id="entry.989951165" placeholder="Ifrit Extreme"></input>
            <label for="entry.1095436034">Your Feedback...</label>
            <textarea name="entry.1095436034" id="entry.1095436034" placeholder="Ifrit EX has a strategy that I think can be improved..."></textarea>
            <h5 class="footer__subtitle">Submitting an edit to a guide? Provide a social account of your choice and we'll credit you if the change is applied!</h5>
            <label for="entry.1685905481">Social Link or Website (Optional)</label>
            <input type="text" name="entry.1685905481" id="entry.1685905481" placeholder="@twitterhandle">
            <h5 class="footer__form-submission-message">Thanks for your feedback! We'll look into it as soon as possible!</h5>
            <input type="submit" value="Submit Feedback">
        </form>

        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>

        <!-- <a href="https://twitter.com/intent/tweet?screen_name=FF14PocketGuide" title="Tweet at the Pocket Guide" class="button--small--red footer__link" target="_blank">Get in Touch</a> -->

        <p class="footer__copy">All guide content has been transcribed by <a href="http://joshdrink.com" title="Go to Josh's Website.">@joshdrink</a> from video guides created by <a href="https://twitter.com/MTQcapture" title="Go to MTQcapture's Twitter.">@MTQcapture</a>.
        <br>
        <br>
        Website built by <a href="http://joshdrink.com" title="Go to Josh's Website.">@joshdrink</a>.
        </p>

    </div>

</section>
