
<!-- Guide Index =========================================================== -->

<!-- Coming Soon Index ===================================================== -->
{% assign counter = 0 %}

{% for guide in site.coming %}

    {% if page.pageClass == "home" %}

        {% assign counter = counter | plus: 1 %}

    {% elsif page.pageClass == "dungeons" %}

        {% if guide.instanceType == "dungeon" %}

            {% assign counter = counter | plus: 1 %}

        {% endif %}

    {% elsif page.pageClass == "trials" %}

        {% if guide.instanceType == "trial" %}

            {% assign counter = counter | plus: 1 %}

        {% endif %}

    {% elsif page.pageClass == "raids" %}

        {% if guide.instanceType == "raid" %}

            {% assign counter = counter | plus: 1 %}

        {% endif %}

    {% endif %}

{% endfor %}

{% if counter > 0 %}

    <div class="index-divider">
        <h2 class="index-divider__title">Coming Soon</h2>
    </div>

    <div class="index-grid">

        {% assign sorted = site.coming | sort:"order" %}

        {% for guide in sorted reversed %}

            {% if guide.patchNumber >= 4.0 %}

                {% if guide.patchNumber < 5.0 %}

                    {% if page.pageClass == "home" %}

                        {% include index-temp.html %}

                    {% elsif page.pageClass == "dungeons" %}

                        {% if guide.instanceType == "dungeon" %}

                            {% include index-temp.html %}

                        {% endif %}

                    {% elsif page.pageClass == "trials" %}

                        {% if guide.instanceType == "trial" %}

                            {% include index-temp.html %}

                        {% endif %}

                    {% elsif page.pageClass == "raids" %}

                        {% if guide.instanceType == "raid" %}

                            {% include index-temp.html %}

                        {% endif %}

                    {% endif %}

                {% endif %}

            {% endif %}

            {% if guide.patchNumber >= 3.0 %}

                {% if guide.patchNumber < 4.0 %}

                    {% if page.pageClass == "home" %}

                        {% include index-temp.html %}

                    {% elsif page.pageClass == "dungeons" %}

                        {% if guide.instanceType == "dungeon" %}

                            {% include index-temp.html %}

                        {% endif %}

                    {% elsif page.pageClass == "trials" %}

                        {% if guide.instanceType == "trial" %}

                            {% include index-temp.html %}

                        {% endif %}

                    {% elsif page.pageClass == "raids" %}

                        {% if guide.instanceType == "raid" %}

                            {% include index-temp.html %}

                        {% endif %}

                    {% endif %}

                {% endif %}

            {% endif %}

            {% if guide.patchNumber >= 2.0 %}

                {% if guide.patchNumber < 3.0 %}

                    {% if page.pageClass == "home" %}

                        {% include index-temp.html %}

                    {% elsif page.pageClass == "dungeons" %}

                        {% if guide.instanceType == "dungeon" %}

                            {% include index-temp.html %}

                        {% endif %}

                    {% elsif page.pageClass == "trials" %}

                        {% if guide.instanceType == "trial" %}

                            {% include index-temp.html %}

                        {% endif %}

                    {% elsif page.pageClass == "raids" %}

                        {% if guide.instanceType == "raid" %}

                            {% include index-temp.html %}

                        {% endif %}

                    {% endif %}

                {% endif %}

            {% endif %}

        {% endfor %}

    </div>

{% endif %}

<!-- Stormblood Guide Index ================================================ -->

{% assign counter = 0 %}

{% for guide in site.categories.sb %}

    {% if page.pageClass == "home" %}

        {% assign counter = counter | plus: 1 %}

    {% elsif page.pageClass == "dungeons" %}

        {% if guide.instanceType == "dungeon" %}

            {% assign counter = counter | plus: 1 %}

        {% endif %}

    {% elsif page.pageClass == "trials" %}

        {% if guide.instanceType == "trial" %}

            {% assign counter = counter | plus: 1 %}

        {% endif %}

    {% elsif page.pageClass == "raids" %}

        {% if guide.instanceType == "raid" %}

            {% assign counter = counter | plus: 1 %}

        {% endif %}

    {% endif %}

{% endfor %}

{% if counter > 0 %}

    <a id="stormblood"></a>

    <div class="index-divider" data-expansion="sb">
        <h2 class="index-divider__title">Stormblood</h2>
    </div>

    <div class="index-grid" data-expansion="sb">

{% endif %}

        {% assign sorted = site.categories.sb | sort:"order" %}

        {% for guide in sorted reversed %}

            {% if page.pageClass == "home" %}

                {% assign counter = counter | plus: 1 %}

                {% include index-item.html %}

            {% elsif page.pageClass == "dungeons" %}

                {% if guide.instanceType == "dungeon" %}

                    {% assign counter = counter | plus: 1 %}

                    {% include index-item.html %}

                {% endif %}

            {% elsif page.pageClass == "trials" %}

                {% if guide.instanceType == "trial" %}

                    {% assign counter = counter | plus: 1 %}

                    {% include index-item.html %}

                {% endif %}

            {% elsif page.pageClass == "raids" %}

                {% if guide.instanceType == "raid" %}

                    {% assign counter = counter | plus: 1 %}

                    {% include index-item.html %}

                {% endif %}

            {% endif %}

        {% endfor %}

{% if counter > 0 %}
    </div>
{% endif %}

<!-- Heavensward Guide Index =============================================== -->

{% assign counter = 0 %}

{% for guide in site.categories.hw %}

    {% if page.pageClass == "home" %}

        {% assign counter = counter | plus: 1 %}

    {% elsif page.pageClass == "dungeons" %}

        {% if guide.instanceType == "dungeon" %}

            {% assign counter = counter | plus: 1 %}

        {% endif %}

    {% elsif page.pageClass == "trials" %}

        {% if guide.instanceType == "trial" %}

            {% assign counter = counter | plus: 1 %}

        {% endif %}

    {% elsif page.pageClass == "raids" %}

        {% if guide.instanceType == "raid" %}

            {% assign counter = counter | plus: 1 %}

        {% endif %}

    {% endif %}

{% endfor %}

{% if counter > 0 %}

    <a id="heavensward"></a>

    <div class="index-divider" data-expansion="hw">
        <h2 class="index-divider__title">Heavensward</h2>
    </div>

    <div class="index-grid" data-expansion="hw">

{% endif %}

        {% assign sorted = site.categories.hw | sort:"order" %}

        {% for guide in sorted reversed %}

            {% if page.pageClass == "home" %}

                {% assign counter = counter | plus: 1 %}

                {% include index-item.html %}

            {% elsif page.pageClass == "dungeons" %}

                {% if guide.instanceType == "dungeon" %}

                    {% assign counter = counter | plus: 1 %}

                    {% include index-item.html %}

                {% endif %}

            {% elsif page.pageClass == "trials" %}

                {% if guide.instanceType == "trial" %}

                    {% assign counter = counter | plus: 1 %}

                    {% include index-item.html %}

                {% endif %}

            {% elsif page.pageClass == "raids" %}

                {% if guide.instanceType == "raid" %}

                    {% assign counter = counter | plus: 1 %}

                    {% include index-item.html %}

                {% endif %}

            {% endif %}

        {% endfor %}

{% if counter > 0 %}
    </div>
{% endif %}

<!-- A Realm Reborn Guide Index ============================================ -->

{% assign counter = 0 %}

{% for guide in site.categories.arr %}

    {% if page.pageClass == "home" %}

        {% assign counter = counter | plus: 1 %}

    {% elsif page.pageClass == "dungeons" %}

        {% if guide.instanceType == "dungeon" %}

            {% assign counter = counter | plus: 1 %}

        {% endif %}

    {% elsif page.pageClass == "trials" %}

        {% if guide.instanceType == "trial" %}

            {% assign counter = counter | plus: 1 %}

        {% endif %}

    {% elsif page.pageClass == "raids" %}

        {% if guide.instanceType == "raid" %}

            {% assign counter = counter | plus: 1 %}

        {% endif %}

    {% endif %}

{% endfor %}

{% if counter > 0 %}

    <a id="a_realm_reborn"></a>

    <div class="index-divider" data-expansion="arr">
        <h2 class="index-divider__title">A Realm Reborn</h2>
    </div>

    <div class="index-grid" data-expansion="arr">

{% endif %}

        {% assign sorted = site.categories.arr | sort:"order" %}

        {% for guide in sorted reversed %}

            {% if page.pageClass == "home" %}

                {% assign counter = counter | plus: 1 %}

                {% include index-item.html %}

            {% elsif page.pageClass == "dungeons" %}

                {% if guide.instanceType == "dungeon" %}

                    {% assign counter = counter | plus: 1 %}

                    {% include index-item.html %}

                {% endif %}

            {% elsif page.pageClass == "trials" %}

                {% if guide.instanceType == "trial" %}

                    {% assign counter = counter | plus: 1 %}

                    {% include index-item.html %}

                {% endif %}

            {% elsif page.pageClass == "raids" %}

                {% if guide.instanceType == "raid" %}

                    {% assign counter = counter | plus: 1 %}

                    {% include index-item.html %}

                {% endif %}

            {% endif %}

        {% endfor %}

{% if counter > 0 %}
    </div>
{% endif %}
