<!-- Duty Sequence ========================================================= -->
<div class="guide__accordion">
    <div class="guide__accordion-trigger--01 active" id="guideSummary">
        <i class="material-icons">expand_more</i>
        <h2 class="guide__accordion-trigger-title">{{ page.bossName }}</h2>
    </div>
    <!-- Guide Event Accordion Content -->
    <div class="guide__accordion-content--01 active">
        <!-- Opens the Sequence Loop -->
        {% for phase in page.sequence %}
            <div class="guide__accordion-copy-wrapper" id="phase{{ phase.phase }}">
                <!-- Opens the Alerts Loop -->
                {% if phase.alerts %}
                    <!-- Event Title -->
                    <h4 class="guide__accordion-title">Phase {{ phase.phase }} Alerts</h4>
                    <!-- Include Guide Alerts -->
                    {% include _components/guide-alerts.html %}
                {% endif %}
                <!-- Opens the Mechanics Loops -->
                {% if phase.mechanics %}
                    <!-- Include Guide Mechanics -->
                    {% include _components/guide-mechanics.html %}
                {% endif %}
                <!-- Opens the Attack Loop -->
                {% if phase.attacks %}
                    <!-- Include Guide Skill Script -->
                    {% include _components/guide-script.html %}
                {% endif %}
                <!-- Opens the Image Loop -->
                {% if phase.images %}
                    <!-- Include Guide Image Script -->
                    {% include _components/guide-images.html %}
                {% endif %}
            </div>
            <!-- Determines the current phase. -->
            {% assign currentPhase = phase.phase %}
            <!-- Enters the attack loop. -->
            {% for attack in page.attacks %}
                <!-- Enters the attack's phases. -->
                {% for attackPhase in attack.phases %}
                    <!-- Checks to see if any of the attack's phases are equal to the current phase. -->
                    {% if attackPhase.phase == currentPhase %}
                        <!-- Include Attack Template -->
                        {% include _components/guide-attack.html %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
</div>
