<!-- Guide Metadata ======================================================== -->
<div class="guide-metadata">
    {% if page.mtqvid %}
        <a href="{{ page.mtqvid }}" title="Visit the video guide for this duty." target="_blank" class="mtqLinkGuide guide-metadata__video-link">MTQcapture's Video Guide</a>
    {% endif %}
    <ul class="guide-metadata__menu">
        <h5 class="guide-metadata__subtitle">In This Guide:</h5>
        {% if page.mechanics %}
            <li>
                <a href="#" data-id="guideNotes" title="Go to the Guide Notes" class="guide-metadata__menu-link">
                    {% if page.instanceType == "dungeon" %}Dungeon Notes{% endif %}
                    {% if page.instanceType == "raid" %}Raid Notes{% endif %}
                </a>
            </li>
        {% endif %}
        {% if page.bosses.size > 1 %}
            <li>
                <a href="#" data-id="guideBosses" title="Go to the Guide Bosses" class="guide-metadata__menu-link">
                    {% if page.instanceType == "dungeon" %}Dungeon Bosses{% endif %}
                    {% if page.instanceType == "raid" %}Raid Bosses{% endif %}
                </a>
                <ul class="guide-metadata__submenu">
                    {% for boss in page.bosses %}
                        <li>
                            <a href="#" data-id="{{ boss.title | slugify }}" title="Go to {{ boss.title }}" class="guide-metadata__menu-link">{{ boss.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            {% if page.sequence %}
                {% assign phases = page.sequence %}
            {% elsif page.bosses[0].sequence %}
                {% assign phases = page.bosses[0].sequence %}
            {% endif %}
            {% if phases %}
                <li>
                    <a href="#" data-id="guideSummary" title="Go to the Guide Summary" class="guide-metadata__menu-link">Fight Summary</a>
                    <ul class="guide-metadata__submenu">
                        {% for phase in phases %}
                            <li>
                                <a href="#" data-id="phase{{ phase.phase }}" title="Go to Phase {{ phase.phase }}" class="guide-metadata__menu-link">Phase: {{ phase.phase }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
        {% endif %}
    </ul>
    <div class="guide-metadata__wrapper">
        <h5 class="guide-metadata__subtitle box small-1of2 med-full">Player Level: <span>{{ page.plvl }}</span></h5>
        {% if page.plvl_sync > 0 %}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Player Level Sync: <span>{{ page.plvl_sync }}</span></h5>
        {% endif %}
        {% if page.ilvl > 0 %}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Item Level: <span>{{ page.ilvl }}</span></h5>
        {% else %}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Item Level: <span>N/A</span></h5>
        {% endif %}
        {% if page.ilvl_sync > 0 %}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Item Level Sync: <span>{{ page.ilvl_sync }}</span></h5>
        {% endif %}
        {% if page.patchNumber %}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Patch {{ page.patchNumber }}:<span>{{ page.patchName }}</span></h5>
        {% endif %}
        {% if page.quest %}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Quest: <span>{{ page.quest }}</span></h5>
            {% if page.quest_location %}
                <h5 class="guide-metadata__subtitle box small-1of2 med-full">Quest Location: <span>{{ page.quest_location }}</span></h5>
            {% endif %}
        {% endif %}
        {% if page.partners %}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Partners:
            {% for partner in page.partners %}
                <span><a href="{{ partner.partner-link }}" title="Go view {{ partner.partner-title }}'s Guide" target="_blank">{{ partner.partner-title }}</a></span>
            {% endfor %}
            </h5>
        {% endif %}
        {% if page.orchestrion %}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">
                Orchestrion Roll:
                <ul class="guide-metadata__submenu">
                {% for orchestrion in page.orchestrion %}
                    <li>
                        <a class="guide-metadata__menu-link">
                           {{ orchestrion }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </h5>
        {% endif %}
        {% if page.orchestrion_material %}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">
                Orchestrion Roll Material:
                <ul class="guide-metadata__submenu">
                {% for orchestrion_material in page.orchestrion_material %}
                    <li>
                        <a class="guide-metadata__menu-link">
                           {{ orchestrion_material }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </h5>
        {% endif %}
        {% if page.mounts %}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">
                Mounts:
                <ul class="guide-metadata__submenu">
                {% for mount in page.mounts %}
                    <li>
                        <a class="guide-metadata__menu-link">
                           {{ mount }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </h5>
        {% endif %}
        {% if page.minions %}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">
                Minions:
                <ul class="guide-metadata__submenu">
                {% for minion in page.minions %}
                    <li>
                        <a class="guide-metadata__menu-link">
                           {{ minion }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </h5>
        {% endif %}
        {% if page.rouletts %}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">
                Rouletts:
                <ul class="guide-metadata__submenu">
                {% for roulett in page.rouletts %}
                    <li>
                        <a class="guide-metadata__menu-link">
                           {{ roulett }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </h5>
        {% endif %}
    </div>
</div>
