<!-- Duty Spawns =========================================================== -->
<div class="guide__event">

    <div class="guide__event-accordion-trigger accordion-trigger">
        <h2 class="heading--02">Enemy Spawns</h2>
    </div>

    <!-- Guide Event Accordion Content -->
    <div class="guide__event-accordion-content accordion-content">

        <!-- Opens the Spawn Loop -->
        {% for spawn in page.spawns %}

            <div class="guide__event-object">

                <!-- Spawn Name -->
                <h4 class="heading--04">{{ spawn.title }}</h4>

                <!-- Opens the Attack Loop -->
                {% if spawn.attacks %}
                    <!-- Include Guide Skill Script -->
                    {% include _components/guide_skill_script.html %}
                {% endif %}

                <!-- Spawn Notes -->
                {% if spawn.notes %}
                    <!-- Include Guide Notes -->
                    {% include _components/guide_notes.html %}
                {% endif %}

            </div>

        {% endfor %}

    </div>

</div>

<hr class="guide__event-divider">
