<!-- Guide Index Null State ====================================================== -->
<div class="box full guide-index__null-state">
    <h4 class="heading--04">Sorry, the guide you're looking for doesn't exist!</h4>
    <p>Check out what's coming next <a href="https://trello.com/b/x1tgw9DF" title="Go to the FFXIV Pocket Guide Development Roadmap." target="_blank">here</a>.</p>
    <p>Want to suggest a guide? Tweet your ideas to <a href="https://twitter.com/intent/tweet?screen_name=FF14PocketGuide" title="Tweet at the Pocket Guide" target="_blank">@FF14PocketGuide</a>!</p>
</div>
