<!-- Duty Puzzles ========================================================== -->
<div class="guide__event">

    <div class="guide__event-accordion-trigger accordion-trigger flex-grid">
        <div class="box small-4of5 med-5of6">
            <h3 class="heading--03">
                {% if page.instanceType == "dungeon" %}Dungeon Mechanics{% endif %}
                {% if page.instanceType == "raid" %}Raid Mechanics{% endif %}
            </h3>
        </div>
        <div class="box small-1of5 med-1of6">
            <h3 class="heading--03">
                <i class="material-icons">expand_more</i>
            </h3>
        </div>
    </div>

    <!-- Guide Event Accordion Content -->
    <div class="guide__event-accordion-content accordion-content">

        <!-- Opens the Boss Loop -->
        {% for mechanic in page.mechanics %}

            <div class="guide__event-object">

                <!-- Event Title -->
                <h4 class="heading--04">{{ mechanic.title }}</h4>

                <!-- Opens the Step Loop -->
                {% if mechanic.steps %}
                    <!-- Include Guide Skill Script -->
                    {% include _components/guide_mechanic.html %}
                {% endif %}

            </div>

        {% endfor %}

    </div>

</div>

<hr class="guide__event-divider">
