{{ include.content }}

{% for attack in page.attacks %}

    {% if include.content contains attack.title %}

    <div class="guide__event-item--attack">

        <div class="guide-trial__attack-trigger">

            <!-- Attack Name -->
            <h4 class="heading--04 guide-trial__item-title">{{ attack.title }}</h4>

        </div>

        <div class="guide-trial__attack-content">

            <!-- Attack Type -->
            {% if attack.combo %}
                <!-- Do nothing. -->
            {% else %}
                <div class="guide-trial__type-tag-list">
                    {% for role in attack.roles %}
                        <span class="guide-trial__role-tag">{{ role.role }}</span>
                    {% endfor %}
                    {% for tag in attack.tags %}
                        <span class="guide-trial__type-tag">{{ tag.tag }}</span>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- Attack Notes -->
            {% if attack.notes %}
                <ul class="guide-trial__notes">
                    {% for note in attack.notes %}
                        <li>
                            {{ note.note }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <!-- Combo Attacks -->
            {% for combo in attack.combo %}

                <h5 class="heading--05 guide-trial__combo-title">{{ combo.title }}</h5>

                <!-- Attack Type -->
                <div class="guide-trial__type-tag-list">
                    {% for role in combo.roles %}
                        <span class="guide-trial__role-tag">{{ role.role }}</span>
                    {% endfor %}
                    {% for tag in combo.tags %}
                        <span class="guide-trial__type-tag">{{ tag.tag }}</span>
                    {% endfor %}
                </div>

                <!-- Attack Notes -->
                <ul class="guide-trial__notes">

                    {% for note in combo.notes %}

                        <li>
                            {{ note.note }}
                        </li>

                    {% endfor %}

                </ul>

            {% endfor %}

            {% if attack.images %}

                <div class="flex-grid">

                    {% for image in attack.images %}
                        <div class="box med-1of3 guide-trial__image-wrapper">
                            <img src="{{ image.url }}" alt="{{ image.alt }}" class="guide-trial__image">
                        </div>
                    {% endfor %}

                </div>

            {% endif %}

        </div>

    </div>

    {% endif %}

{% endfor %}
