<!-- Guide Index Null State ================================================ -->
<div class="index-null-state">
    <h4 class="index-null-state__title">Sorry, the guide you're looking for doesn't exist yet!</h4>
    <p class="index-null-state__copy">Check out what's coming next <a href="/about" title="Go to the FFXIV Pocket Guide Development Roadmap." target="_blank">here</a>.</p>
    <p class="index-null-state__copy">Want to suggest a guide? Tweet your ideas to <a href="https://twitter.com/intent/tweet?screen_name=FF14PocketGuide" title="Tweet at the Pocket Guide" target="_blank">@FF14PocketGuide</a>!</p>
</div>
