<!-- Guide Index Item ====================================================== -->
<div class="box med-1of2 lg-1of3 guide-index__guide">

    <a href="{{ guide.url }}" title="Go to the {{ guide.title}} Guide" class="guide-index__guide-link" style="background-image: url('{% for image in guide.image %}{{ image.urlSmall }}{% endfor %}')">

        <div class="guide-index__guide-overlay"></div>

        <h3 class="{% if guide.title.size < 20 %}heading--03{% endif %} {% if guide.title.size > 20 %}heading--04{% endif %} guide-index__guide-title">{{ guide.title }} {% if guide.difficulty %}({{ guide.difficulty }}){% endif %}</h3>

        {% if guide.ilvl %}
            <h5 class="heading--05 guide-index__ilvl">Item Level: {{ guide.ilvl }}</h5>
        {% endif %}

        {% if guide.plvl %}
            <h5 class="heading--05 guide-index__ilvl">Player Level: {{ guide.plvl }}</h5>
        {% endif %}

    </a>

</div>
