<!-- Guide Content ========================================================= -->
<div class="guide-content">
    <!-- Duty Notes ======================================================== -->
    {% if page.mechanics %}
        {% include guide-notes.html %}
    {% endif %}
    <!-- Duty Bosses ======================================================= -->
    {% if page.bosses %}
        {% include guide-bosses.html %}
    {% endif %}
    <!-- Duty Fight Summary ================================================ -->
    {% if page.sequence %}
        {% include guide_sequence.html %}
    {% endif %}
</div>
