{% comment %} ==================================================================

    // Header

=============================================================== {% endcomment %}

<header>

    {% comment %}
        // Seasonal Banners
            // Pride Month
            <div class="site-header__pride">
                <p>🏳️‍🌈 Happy Pride Month 🏳️‍🌈</p>
            </div>
    {% endcomment %}

    <div class="site-header__grid"
        {% if page.page_type == "index" %}
            style="background-image: url('{{ "/assets/img/5-5.jpg" | prepend: site.baseurl }}')"
        {% elsif page.image.url %}
            style="background-image: url('{{ page.image.url }}')"
        {% elsif page.image %}
            style="background-image: url('{% for image in page.image %}{{ image.url }}{% endfor %}')"
        {% elsif page.layout == "new-guide" %}
            style="background-image: url('{{ page.hero-image }}')"
        {% else %}
            style="background-image: url('{{ page.cover }}')"
        {% endif %}>

        <div class="site-header__item-a">

            <h1 class="{% if page.page_type == 'index' or page.page_type == 'guide' or page.layout == 'new-guide' %}site-header__title{% else %}site-header__guide-title{% endif %}">

                {% if page.page_category == "all" %}
                    The FFXIV Pocket Guide
                    <br>
                    <br>
                {% elsif page.page_category == "dungeons" %}
                    Dungeon Guides
                    <br>
                    <br>
                {% elsif page.page_category == "trials" %}
                    Trial Guides
                    <br>
                    <br>
                {% elsif page.page_category == "raids" %}
                    Raid Guides
                    <br>
                    <br>
                {% else %}
                    {{ page.title }}<span
                        {% if page.difficulty == "Hard" %}
                            class="hard"
                        {% elsif page.difficulty == "Extreme" %}
                            class="extreme"
                        {% elsif page.difficulty == "Savage" %}
                            class="savage"
                        {% elsif page.difficulty == "Ultimate" %}
                            class="ultimate"
                        {% endif %}> ({{ page.difficulty }})</span>
                {% endif %}

            </h1>

        </div>

        {% if page.page_type == "guide" or page.layout == "new-guide" %}
          <ul class="site-header__links">
            <li>
              <a
                href="https://github.com/joshdrink/FFXIVPocketGuide/issues/new"
                target="_blank"
                title="Submit feedback for {{ page.title }}.">
                <i class="ionicons ion-social-github"></i>Provide Feedback</a>
            </li>
            <li>
              {% if page.layout == "new-guide" %}
                <a
                  href="{{ page.video-url }}"
                  target="_blank"
                  title="Visit the video guide for this duty.">
                  <i class="ionicons ion-social-youtube"></i>Video Guide</a>
              {% else %}
                <a
                  href="{{ page.mtq_vid }}"
                  target="_blank"
                  title="Visit the video guide for this duty.">
                  <i class="ionicons ion-social-youtube"></i>Video Guide</a>
              {% endif %}
            </li>
          </ul>
        {% endif %}

    </div>

</header>
