
<!-- Index Item ============================================================ -->

<div class="index-item">

    <a href="{{ guide.url }}" title="Go to the {{ guide.title}} Guide" class="index-item__link" style="background-image: url('{% for image in guide.image %}{{ image.urlSmall }}{% endfor %}')">

        <!-- {% if guide.difficulty %}
            <span class="index-item__tag--{% if guide.difficulty == 'Normal' %}normal{% elsif guide.difficulty == 'Hard' or guide.difficulty == 'Savage' %}hard{% elsif guide.difficulty == 'Extreme' %}extreme{% endif %}">
                {{ guide.difficulty }}
            </span>
        {% endif %} -->

        <h3 class="index-item__title {% if guide.title.size < 30 %}h3{% else %}h4{% endif %}" data-terms="{% for term in guide.terms %}{{ term.term }}&#32;{% endfor %}">{{ guide.title }}<span>{{ guide.difficulty }}</span></h3>

        {% if guide.difficulty %}
            <span class="index-item__difficulty">
                ({{ guide.difficulty }})
            </span>
        {% endif %}

        <!-- {% if guide.ilvl == 0 %}
            <h5 class="index-item__subtitle">Player Level: {{ guide.plvl }}</h5>
        {% endif %} -->

        <!-- {% if guide.ilvl > 0 %}
            <h5 class="index-item__subtitle">Item Level: {{ guide.ilvl }}</h5>
        {% endif %} -->

    </a>

</div>
