{% comment %} ==================================================================

    // Index

=============================================================== {% endcomment %}

<div class="index">

    <!-- Shadowbringers Guide Index ======================================== -->

    <a id="shadowbringers"></a>

    <div class="index-divider" data-expansion="sw" id="shadowbringersTitle">
        <h2 class="index-divider__title">Shadowbringers?</h2>
    </div>

    <div class="index__announcement" id="shadowbringersContent">
        <div class="wrapper">
            <p><strong>Dear Pocket Guide Fans,</strong></p>
            <p>I'm sure it's obvious now that I've stopped playing FFXIV. While I've been following the community on-and-off since then, I don't think I'm going to make it back into the game. This is a result of heavy burn out and a lack of time to invest in generating content for the site.</p>
            <p>That being said, the Pocket Guide will continue to stay online, and I'm happy to continue updating it with bug fixes and interface improvements if they're suggested to me.</p>
            <p><strong>This has been an incredibly fun project for me, and I'd like to see it continued.</strong></p>
            <p>If any of you would like to see the site updated with new content and are willing to format guides yourselves, I'm more than happy to explain the template and process. Once you've submitted the content to me I'd be happy to publish it here.</p>
            <p><a href="mailto:ffxiv@joshbeveridge.ca" title="Email Josh about helping maintain the Pocket Guide.">Feel free to reach out if this interests you!</a></p>
            <p>Cheers, Josh</p>
        </div>
    </div>

    <!-- Stormblood Guide Index ============================================ -->

    {% assign counter = 0 %}

    {% for guide in site.categories.sb %}

        {% include _components/index-counter.html %}

    {% endfor %}

    {% if counter > 0 %}

        <a id="stormblood"></a>

        <div class="index-divider" data-expansion="sb">
            <h2 class="index-divider__title">Stormblood</h2>
        </div>

        <div class="index__list" data-expansion="sb">

    {% endif %}

    {% assign sorted = site.categories.sb | sort:"order" %}

    {% include _components/index-list.html %}

    {% if counter > 0 %}
        </div>
    {% endif %}

    <!-- Heavensward Guide Index =========================================== -->

    {% assign counter = 0 %}

    {% for guide in site.categories.hw %}

        {% include _components/index-counter.html %}

    {% endfor %}

    {% if counter > 0 %}

        <a id="heavensward"></a>

        <div class="index-divider" data-expansion="hw">
            <h2 class="index-divider__title">Heavensward</h2>
        </div>

        <div class="index__list" data-expansion="hw">

    {% endif %}

    {% assign sorted = site.categories.hw | sort:"order" %}

    {% include _components/index-list.html %}

    {% if counter > 0 %}
        </div>
    {% endif %}

    <!-- A Realm Reborn Guide Index ======================================== -->

    {% assign counter = 0 %}

    {% for guide in site.categories.arr %}

        {% include _components/index-counter.html %}

    {% endfor %}

    {% if counter > 0 %}

        <a id="a_realm_reborn"></a>

        <div class="index-divider" data-expansion="arr">
            <h2 class="index-divider__title">A Realm Reborn</h2>
        </div>

        <div class="index__list" data-expansion="arr">

    {% endif %}

    {% assign sorted = site.categories.arr | sort:"order" %}

    {% include _components/index-list.html %}

    {% if counter > 0 %}
        </div>
    {% endif %}

    <!-- Include Null State -->
    {% include guide-index-null-state.html %}

</div>
