{% comment %} ==================================================================

    // Index

=============================================================== {% endcomment %}

<div class="index">

    <!-- Shadowbringers Guide Index ======================================== -->
    
    {% assign counter = 0 %}

    {% for guide in site.categories.shb %}

        {% include _components/index-counter.html %}

    {% endfor %}

    {% if counter > 0 %}

        <a id="shadowbringers"></a>

        <div class="index-divider" data-expansion="shb">
            <h2 class="index-divider__title">Shadowbringers</h2>
        </div>

        <div class="index__announcement" id="shadowbringersContent">
            <div class="wrapper">
                <p><strong>Good News!</strong></p>
                <p>With the wonderful support of the original creator, Josh, a group of fans have banded together to revive the Pocket Guides site and breathe new life into it.</p>
                <p>We're updating some infrastructure to allow content creation to be much easier, which will hopefully provide a good way to open up content creation to anyone who'd like to contribute!</p>
            </div>
        </div>

        <br />

        <div class="index__list" data-expansion="shb">

    {% endif %}

    {% assign sorted = site.categories.shb | sort:"order" %}

    {% include _components/index-list.html %}

    {% if counter > 0 %}
        </div>
    {% endif %}

    <!-- Stormblood Guide Index ============================================ -->

    {% assign counter = 0 %}

    {% for guide in site.categories.sb %}

        {% include _components/index-counter.html %}

    {% endfor %}

    {% if counter > 0 %}

        <a id="stormblood"></a>

        <div class="index-divider" data-expansion="sb">
            <h2 class="index-divider__title">Stormblood</h2>
        </div>

        <div class="index__list" data-expansion="sb">

    {% endif %}

    {% assign sorted = site.categories.sb | sort:"order" %}

    {% include _components/index-list.html %}

    {% if counter > 0 %}
        </div>
    {% endif %}

    <!-- Heavensward Guide Index =========================================== -->

    {% assign counter = 0 %}

    {% for guide in site.categories.hw %}

        {% include _components/index-counter.html %}

    {% endfor %}

    {% if counter > 0 %}

        <a id="heavensward"></a>

        <div class="index-divider" data-expansion="hw">
            <h2 class="index-divider__title">Heavensward</h2>
        </div>

        <div class="index__list" data-expansion="hw">

    {% endif %}

    {% assign sorted = site.categories.hw | sort:"order" %}

    {% include _components/index-list.html %}

    {% if counter > 0 %}
        </div>
    {% endif %}

    <!-- A Realm Reborn Guide Index ======================================== -->

    {% assign counter = 0 %}

    {% for guide in site.categories.arr %}

        {% include _components/index-counter.html %}

    {% endfor %}

    {% if counter > 0 %}

        <a id="a_realm_reborn"></a>

        <div class="index-divider" data-expansion="arr">
            <h2 class="index-divider__title">A Realm Reborn</h2>
        </div>

        <div class="index__list" data-expansion="arr">

    {% endif %}

    {% assign sorted = site.categories.arr | sort:"order" %}

    {% include _components/index-list.html %}

    {% if counter > 0 %}
        </div>
    {% endif %}

    <!-- Include Null State -->
    {% include guide-index-null-state.html %}

</div>
