<!-- Sidebar =============================================================== -->
<div 
    class="sidebar__wrapper">

    <h1 
        class="sidebar__title">
        <a 
            href="/" 
            title="Return to the Pocket Guide Home Page.">
            <img
                alt="FFXIV Icon"
                src="/assets/img/icon.svg">
        </a>
    </h1>

    <dl 
        class="sidebar__menu">

        <dt></dt>

        <dd>
            <a 
                {% if page.pageClass == "home" %}class="active"{% endif %}
                href="/" 
                title="View All Guides.">
                All Guides
            </a>
        </dd>

        <dd>
            <a 
                {% if page.pageClass == "dungeons" %}class="active"{% endif %} 
                {% if page.instanceType == "dungeon" %}class="active"{% endif %} 
                href="/dungeons" 
                title="View Dungeon Guides.">
                Dungeons
            </a>
        </dd>

        <dd>
            <a 
                {% if page.pageClass == "trials" %}class="active"{% endif %} 
                {% if page.instanceType == "trial" %}class="active"{% endif %} 
                href="/trials" 
                title="View Trial Guides.">
                Trials
            </a>
        </dd>

        <dd>
            <a 
                {% if page.pageClass == "raids" %}class="active"{% endif %}
                {% if page.instanceType == "raid" %}class="active"{% endif %}
                href="/raids" 
                title="View Raid Guides.">
                Raids
            </a>
        </dd>

    </dl>

</div>
