
<!-- Site Header =========================================================== -->

<div class="site-header">

    <!-- <div class="site-header__alert">
        <p>This website is built to work in the latest versions of Chrome, Edge, Firefox, Safari, and IE11. See a bug? <a href="#" id="issueSubmissionLink" data-id="issueForm" title="Go to the issue submission form.">Submit an issue here</a>.</p>
        <p>Please Note: permalinks for our guides have recently changed. If your bookmark returns an error, don't fear! Finding your guide on the homepage and updating your bookmark should resolve the issue. <strong>We apologize for any inconvenience or confusion.</strong></p>
    </div> -->

    <div class="site-header__pride">

        <p>🏳️‍🌈 Happy Pride Month 🏳️‍🌈</p>

    </div>

    <div class="site-header__grid"
        {% if page.pageClass == "home" or page.pageClass == "dungeons" or page.pageClass == "trials" or page.pageClass == "raids" %}
            style="background-image: url('{{ "/assets/img/guide_header.jpg" | prepend: site.baseurl }}')"
        {% else %}
            style="background-image: url('{% for image in page.image %}{{ image.url }}{% endfor %}')"
        {% endif %}
    >

        <div class="site-header__item-a">

            {% if page.pageClass == "home" %}
                <h1 class="site-header__title">
                    FFXIV Pocket Guide
                </h1>
            {% elsif page.pageClass == "dungeons" %}
                <h1 class="site-header__title">
                    Dungeon Guides
                </h1>
            {% elsif page.pageClass == "trials" %}
                <h1 class="site-header__title">
                    Trial Guides
                </h1>
            {% elsif page.pageClass == "raids" %}
                <h1 class="site-header__title">
                    Raid Guides
                </h1>
            {% else %}
                <h1 class="site-header__guide-title">
                    {{ page.title }}
                </h1>
            {% endif %}

        </div>

        {% if page.pageClass == "home" or page.pageClass == "dungeons" or page.pageClass == "trials" or page.pageClass == "raids" %}

            <ul class="site-header__links">

                <li>
                    <a href="https://twitter.com/FF14PocketGuide" title="Follow along on Twitter for guide updates!" target="_blank" class="twitterLink"><i class="ionicons ion-social-twitter"></i>Twitter</a>
                </li>

                <li>
                    <a href="https://github.com/joshdrink/FFXIVPocketGuide/projects/1?fullscreen=true" title="Find out what's next on the Pocket Guide Development Roadmap!" target="_blank"><i class="ionicons ion-social-github"></i>Roadmap</a>
                </li>

                <li>
                    <!-- <a href="https://github.com/joshdrink/FFXIVPocketGuide/issues/new" title="Submit feedback about a guide or bug on Github!" target="_blank"><i class="ionicons ion-social-google"></i>Feedback</a> -->
                    <a href="https://www.youtube.com/user/MTQcapture" title="Go to MTQcapture's YouTube Channel" class="mtqLinkHome" target="_blank"><i class="ionicons ion-social-youtube"></i>MTQcapture</a>
                </li>

            </ul>

        {% endif %}

    </div>

    {% if page.pageClass == "home" or page.pageClass == "dungeons" or page.pageClass == "trials" or page.pageClass == "raids" %}
        <form class="sidebar__form">
            <label for="guideFilter">Search for a guide...</label>
            <input id="guideFilter" type="text" placeholder="Stormblood, A12s, Garuda, etc...">
        </form>
    {% endif %}

</div>
