{% comment %} ==================================================================
    // Guide Bosses
=============================================================== {% endcomment %}
<div class="guide__accordion">
    <div class="guide__accordion-trigger--01 active" data-menu-target="guideBosses">
        <i class="material-icons">expand_more</i>
        <h2 class="guide__accordion-trigger-title">
            {% if page.instance_type == "Dungeon" %}Dungeon Bosses{% endif %}
            {% if page.instance_type == "Trial" %}Trial Bosses{% endif %}
            {% if page.instance_type == "Raid" %}Raid Bosses{% endif %}
        </h2>
    </div>

    <!-- Guide Event Accordion Content -->
    <div class="guide__accordion-content--01 active">

        <!-- Opens the Boss Loop -->
        {% for boss in page.bosses %}
            <div class="guide__accordion-trigger--02" data-menu-target="{{ boss.boss_name }}">
                <i class="material-icons">expand_more</i>
                <h3 class="guide__accordion-trigger-title">
                    {{ boss.boss_name }}
                </h3>
            </div>
            <div class="guide__accordion-content--02">

                <!-- Opens the Phase Loop -->
                {% for phase in boss.boss_phases %}
                    <div data-menu-target="{{ phase.boss_phase_title }}"></div>
                    <div class="guide__accordion-copy-wrapper">

                        <!-- Event Title -->
                        <h4 class="guide__accordion-title">{{ phase.boss_phase_title }} Summary</h4>

                        <!-- Phase Alerts -->
                        {% if phase.boss_phase_summary %}
                            <!-- Include Guide Summary -->
                            {% include _components/_guides/guide-phase-summary.html %}
                        {% endif %}

                        <!-- Phase Mechanics -->
                        {% if phase.boss_phase_mechanics %}
                            <!-- Include Guide Mechanics -->
                            {% include _components/_guides/guide-phase-mechanics.html %}
                        {% endif %}

                        <!-- Phase Script -->
                        {% if phase.boss_phase_script %}
                            <!-- Include Guide Skill Script -->
                            {% include _components/_guides/guide-phase-script.html %}
                        {% endif %}
                    </div>
                    {% for attack in phase.boss_phase_attacks %}

                        <!-- Include Attack Template -->
                        {% include _components/_guides/guide-attack.html %}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
