{% comment %} ==================================================================

    // Guide Duty Mechanics

=============================================================== {% endcomment %}

{% if page.layout == "new-guide" %}
  <div class="guide__accordion">
    <div class="guide__accordion-trigger--01" data-menu-target="guideNotes">
      <i class="material-icons">expand_more</i>
      <h2 class="guide__accordion-trigger-title">{{ page.guide-type }} Mechanics</h2>
    </div>
    <!-- Guide Event Accordion Content -->
    <div class="guide__accordion-content--01">
      <!-- Opens the Notes Loop -->
      {% for mechanic in page.instance-mechanics %}
        <div class="guide__accordion-copy-wrapper">
          <!-- Event Title -->
          <h3 class="guide__accordion-title">{{ mechanic.name }}</h3>
          <!-- Opens the Step Loop -->
          {% if mechanic.steps %}
            <div class="guide__mechanics-wrapper">
              {% for step in mechanic.steps %}
                <!-- Mechanics Group Title -->
                <h4 class="guide__mechanics-title">Step {{ step.name }}</h4>
                <!-- Stance Notes -->
                <ul class="guide__mechanics-list">
                  {% for note in step.notes %}
                    <li class="guide__mechanics-item">{{ note }}</li>
                  {% endfor %}
                </ul>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% else %}
  <div class="guide__accordion">
    <div class="guide__accordion-trigger--01" data-menu-target="guideNotes">
      <i class="material-icons">expand_more</i>
      <h2 class="guide__accordion-trigger-title">{{ page.instance_type }} Mechanics</h2>
    </div>
    <!-- Guide Event Accordion Content -->
    <div class="guide__accordion-content--01">
      <!-- Opens the Notes Loop -->
      {% for mechanic in page.duty_mechanics %}
        <div class="guide__accordion-copy-wrapper">
          <!-- Event Title -->
          <h3 class="guide__accordion-title">{{ mechanic.duty_mechanic_title }}</h3>
          <!-- Opens the Step Loop -->
          {% if mechanic.duty_mechanic_steps %}
            <div class="guide__mechanics-wrapper">
              {% for step in mechanic.duty_mechanic_steps %}
                <!-- Mechanics Group Title -->
                <h4 class="guide__mechanics-title">Step {{ step.duty_mechanic_step_title }}</h4>
                <!-- Stance Notes -->
                <ul class="guide__mechanics-list">
                  {% for note in step.duty_mechanic_step_notes %}
                    <li class="guide__mechanics-item">{{ note.duty_mechanic_step_note }}</li>
                  {% endfor %}
                </ul>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}