{% comment %} ==================================================================

    // Guide Metadata

=============================================================== {% endcomment %}

<div class="guide-metadata">
  <ul class="guide-metadata__menu">

    <!-- Label -->
    <h5 class="guide-metadata__subtitle">
      In This Guide:
    </h5>

    <!-- Instance Mechanics -->
    {% if page.layout == "new-guide" %}
      <!-- New Guides -->
      {% if page.instance-mechanics and page.instance-mechancis != empty %}
        <li>
          <a 
            href=""
            title=""
            data-menu-trigger="guideNotes"
            class="guide-metadata__menu-link--new">{{ page.guide-type }}-wide Mechanics</a>
        </li>
      {% endif %}
    {% else %}
      <!-- Old Guides -->
      {% if page.duty_mechanics != empty %}
        <li>
          <a 
              class="guide-metadata__menu-link--new"
              data-menu-trigger="guideNotes"
              href="#" 
              title="Go to the Guide Mechanics">
              {% if page.instance_type == "Dungeon" %}Dungeon Mechanics{% endif %}
              {% if page.instance_type == "Trial" %}Trial Mechanics{% endif %}
              {% if page.instance_type == "Raid" %}Raid Mechanics{% endif %}</a>
        </li>
      {% endif %}
    {% endif %}

    <!-- Boss List -->
    {% if page.layout == "new-guide" %}
      <!-- New Guides -->
      {% if page.bosses %}
        {% for boss in page.bosses %}
          <li>
            <a 
              class="guide-metadata__menu-link--new"
              data-menu-trigger="{{ boss.name }}"
              href="#"
              title="Go to {{ boss.name }}">{{ boss.name }}</a>
            {% if page.bosses.size == 1 %}
              <ul class="guide-metadata__submenu">
                {% assign phaseCounter = 1 %}
                {% for phase in boss.phases %}
                  <li>
                    <a 
                      class="guide-metadata__menu-link--new"
                      data-menu-trigger="phase{{ phaseCounter }}"
                      href="#" 
                      title="Go to Phase {{ phaseCounter }}">Phase {{ phaseCounter }}</a>
                  </li>
                  {% assign phaseCounter = phaseCounter  | plus: 1 %}
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      {% endif %}
    {% else %}
      <!-- Old Guides -->
      {% if page.bosses %}
        {% for boss in page.bosses %}
          <li>
            <a 
              class="guide-metadata__menu-link--new"
              data-menu-trigger="{{ boss.boss_name }}"
              href="#"
              title="Go to {{ boss.boss_name }}">{{ boss.boss_name }}</a>
            {% if page.bosses.size == 1 %}
              <ul class="guide-metadata__submenu">
                {% for phase in boss.boss_phases %}
                  <li>
                    <a 
                      class="guide-metadata__menu-link--new"
                      data-menu-trigger="{{ phase.boss_phase_title }}"
                      href="#" 
                      title="Go to {{ phase.boss_phase_title }}">{{ phase.boss_phase_title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      {% endif %}
    {% endif %}

  </ul>

  <!-- Instance Helper Data -->
  <div class="guide-metadata__wrapper">

    <!-- Player Level -->
    {% if page.layout == "new-guide" %}
      <!-- New Guides -->
      <h5 class="guide-metadata__subtitle">
        Player Level: <span>{{ page.player-level }}</span>
      </h5>
    {% else %}
      <!-- Old Guides -->
      <h5 class="guide-metadata__subtitle">
        Player Level: <span>{{ page.plvl }}</span>
      </h5>
    {% endif %}

    <!-- Item Level -->
    {% if page.layout == "new-guide" %}
      <!-- New Guides -->
      {% if page.item-level > 0 %}
        <h5 class="guide-metadata__subtitle">
            Item Level: <span>{{ page.item-level }}</span>
        </h5>
      {% else %}
        <h5 class="guide-metadata__subtitle">
          Item Level: <span>N/A</span>
        </h5>
      {% endif %}
    {% else %}
      <!-- Old Guides -->
      {% if page.ilvl > 0 %}
        <h5 class="guide-metadata__subtitle">
            Item Level: <span>{{ page.ilvl }}</span>
        </h5>
      {% else %}
        <h5 class="guide-metadata__subtitle">
          Item Level: <span>N/A</span>
        </h5>
      {% endif %}
    {% endif %}

    <!-- Patch Number -->
    {% if page.layout == "new-guide" %}
      <!-- New Guides -->
      {% if page.patch %}
        {% assign patchName = "" %}
        {% for i in site.data.patches.patches %}
          {% if i.patch == page.patch %}
            {% assign patchName = i.name %}
          {% endif %}
        {% endfor %}
        <h5 class="guide-metadata__subtitle">
          Patch {{ page.patch }}:<span>{{ patchName }}</span>
        </h5>
      {% endif %}
    {% else %}
      <!-- Old Guides -->
      {% if page.patch_number %}
        <h5 class="guide-metadata__subtitle">
          Patch {{ page.patch_number }}:<span>{{ page.patch_name }}</span>
        </h5>
      {% endif %}
    {% endif %}

    <!-- Partners -->
    {% if page.partners %}
      <h5 class="guide-metadata__subtitle">Partners:
        {% for partner in page.partners %}
          <span>
            <a 
              href="{{ partner.partner-link }}" 
              target="_blank"
              title="Go view {{ partner.partner-title }}'s Guide">
              {{ partner.partner-title }}</a>
          </span>
        {% endfor %}
      </h5>
    {% endif %}
    
    <!-- Orchestrion Rolls -->
    {% if page.layout == "new-guide" %}
      <!-- New Guides -->
      {% if page.orchestrion-roll %}
        <h5 class="guide-metadata__subtitle">
          Orchestrion Roll:<span>{{ page.orchestrion-roll }}</span>
        </h5>
      {% endif %}
    {% else %}
      <!-- Old Guides -->
      {% if page.orchestrion %}
        <h5 class="guide-metadata__subtitle">
          Orchestrion Roll:<span>{{ page.orchestrion }}</span>
        </h5>
      {% endif %}
    {% endif %}

  </div>
</div>
