<!-- Event Skill Script -->
<div class="guide__skill-script-wrapper">

    <!-- Boss Attack Loop -->
    {% for attack in phase.attacks %}
        <span class="guide__skill-script-attack">{{ attack.attack }}</span>
        <!-- Checks to see if this is the last attack to prevent a final divider element. -->
        {% if forloop.last != true %}
            <span class="guide__skill-script-divider">></span>
        {% endif %}
    {% endfor %}

    <!-- Stance Attack Loop -->
    {% for attack in stance.attacks %}
        <span class="guide__skill-script-attack">{{ attack.attack }}</span>
        <!-- Checks to see if this is the last attack to prevent a final divider element. -->
        {% if forloop.last != true %}
            <span class="guide__skill-script-divider">•</span>
        {% endif %}
    {% endfor %}

    <!-- Spawn Attack Loop -->
    {% for attack in spawn.attacks %}
        <span class="guide__skill-script-attack">{{ attack.attack }}</span>
        <!-- Checks to see if this is the last attack to prevent a final divider element. -->
        {% if forloop.last != true %}
            <span class="guide__skill-script-divider">•</span>
        {% endif %}
    {% endfor %}

</div>
