<!-- Event Skill Script -->
<div class="guide__script-wrapper">
    <!-- Skill Script Title -->
    <h5 class="guide__mechanics-title">Attack Script</h5>
    <!-- Boss Attack Loop -->
    <ul class="guide__script-list">
        {% for attack in phase.attacks %}
            <li class="guide__script-attack {% if attack.dutyActions %}duty-action{% endif %}">{{ attack.attack }}</li>
            <!-- Checks to see if this is the last attack to prevent a final divider element. -->
            <!-- {% if forloop.last != true %}
                <span class="guide__script-divider"><i class="material-icons">play_arrow</i></span>
            {% endif %} -->
        {% endfor %}
    </ul>
</div>
