<!-- Attack Template -->
<div class="guide__attack-wrapper">

    <!-- Attack Accordion Trigger -->
    <div class="guide__attack-accordion-trigger accordion-trigger">
        <h4 class="heading--04">{{ attack.title }}</h4>
    </div>

    <!-- Attack Accordion Content -->
    <div class="guide__attack-accordion-content accordion-content">

        <!-- Standard Attacks -->
        {% if attack.combo %}
            <!-- Do nothing. -->
        {% else %}
            {% include _components/guide_attack_tags.html %}
            {% include _components/guide_attack_notes.html %}
        {% endif %}

        <!-- Combo Attacks -->
        {% for combo in attack.combo %}
            <h5 class="heading--05">{{ combo.title }}</h5>
            {% include _components/guide_attack_tags.html %}
            {% include _components/guide_attack_notes.html %}
        {% endfor %}

        <!-- Attack Images -->
        {% if attack.images %}
            <div class="flex-grid guide__attack-image-list">

                {% for image in attack.images %}
                    <div class="box med-1of3 guide__attack-image-item">
                        <img src="{{ image.url }}" alt="{{ image.alt }}">
                    </div>
                {% endfor %}

            </div>
        {% endif %}

    </div>

</div>
