/* =============================================================================

    PALETTE CSS

    Authored by:
        - Josh Beveridge

============================================================================= */

/* Custom Colours =========================================================== */
$red: #ff575c;
$red-faded: rgba(255, 87, 92, .2);
$blue: #36b8ea;
$purple: #9b40bf;

/* Social Colours =========================================================== */
$gplus-brand: hsl(7, 71%, 55%);
$twitter-brand: hsl(206, 82%, 63%);
$linkedin-brand: hsl(202, 90%, 37%);
$facebook-brand: hsl(221, 44%, 41%);
