/* =============================================================================

    CSS GRID CSS

    Authored by:
        - Josh Beveridge

============================================================================= */
$unit: 1rem;

$media-navigation: screen and (orientation: landscape) and (min-width: 64em);

.site-grid {
    display: grid;
    grid-template-columns: 100vw;
    height: 100vh;
    max-width: 100%;

    @media $(media-navigation) {
        grid-template-columns: 23vw 77vw;
    }

    @media screen and (orientation: landscape) and (min-width: 70em) {
        grid-template-columns: 20vw 80vw;
    }

}

body[id*="Edge"],
body[id*="Trident"] {

    .site-grid__sidebar {
        height: 100vh;
        -ms-grid-column: 1 !important;
    }

    .site-grid__content-wrapper {
        height: 100vh;

        @media $(media-navigation) {
            -ms-grid-column: 2 !important;
        }

    }

}

.site-grid__content-wrapper {
    background: $palette-grey;
    overflow: auto;
}
