/* =============================================================================

    CSS GRID CSS

    Authored by:
        - Josh Beveridge

============================================================================= */
$unit: 1rem;

$media-navigation: screen and (orientation: landscape) and (min-width: 64em);

.site-grid {
    max-width: 100%;
    width: 100%;

    @media $(media-navigation) {
        overflow-x: hidden;
    }

}

.site-grid__sidebar {
    background-position: center;
    background-size: cover;
    height: 100%;
    max-width: 35rem;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0, 100%);
    transition: transform .3s ease;
    width: 100%;
    z-index: 105;

    @media $(media-navigation) {
        box-shadow: none !important;
        max-height: 100vh;
        max-width: none;
        position: fixed !important;
        transform: translate(0, 0) !important;
        width: 23vw;
    }

    @media screen and (orientation: landscape) and (min-width: 70em) {
        width: 20vw;
    }

    /*@media screen and (orientation: landscape) and (min-width: 100em) {
        width: 15vw;
    }*/

    &.active {
        box-shadow: 2px 0 5px rgba(0, 0, 0, .5);
        transform: translate(0, 0);
        transition: transform .3s ease;
    }

    &:before {
        background: $palette-overlay;
        content: " ";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
    }

}

.site-grid__content-wrapper {
    background: $palette-grey;
    overflow: auto;
    position: relative;

    @media $(media-navigation) {
        margin-left: 23vw;
        max-width: 77%;
        width: 77vw;
    }

    @media screen and (orientation: landscape) and (min-width: 70em) {
        margin-left: 20vw;
        max-width: 80%;
        width: 80vw;
    }

    /*@media screen and (orientation: landscape) and (min-width: 100em) {
        margin-left: 15vw;
        max-width: 85%;
        width: 85vw;
    }*/

}
