/* =============================================================================

    TYPOGRAPHY CSS

    Authored by:
        - Josh Beveridge

============================================================================= */

/* Google Fonts ============================================================= */
$font-aktiv: "aktiv-grotesk",sans-serif;
$font-cinzel: "Cinzel", serif;
$font-pt: "pt-serif",serif;

/* Custom Fonts ============================================================= */

/* Font Standard ============================================================ */
html,
body {
    font-size: 80%;

    @media screen and (min-width: 412px) {
        font-size: 90%;
    }

    @media $(p-tablet) {
        font-size: 100%;
    }

    @media $(cinema) {
        font-size: 120%;
    }

}

/* 1.250 Scale */

$font-scale: 1.250;

$font-scale-h1: calc(1rem*($font-scale*($font-scale*($font-scale*($font-scale)))));
$font-scale-h2: calc(1rem*($font-scale*($font-scale*($font-scale))));
$font-scale-h3: calc(1rem*($font-scale*($font-scale)));
$font-scale-h4: calc(1rem*($font-scale));
$font-scale-regular: 1rem;
$font-scale-small: calc(1rem*($font-scale/2));

/* Sitewide Typography ====================================================== */
::selection {
    background: $black;
    color: $white;
}

$font-white: rgba(255, 255, 255, .95);
$font-black: rgba(30, 30, 30, .85);

$font-scale-small: 0.707rem;
$font-scale-regular: 1rem;

[class*="heading--"] {
    color: $font-black;
    font-family: $font-aktiv;
    font-weight: 800;
    line-height: 1.2;
    margin: 0;

    a {

    }

    i {
        font-size: inherit;
        line-height: inherit;
    }

}

.heading--01 {
    font-size: $font-scale-h1;
}

.heading--02 {
    font-size: $font-scale-h2;
}

.heading--03 {
    font-size: $font-scale-h3;
}

.heading--04 {
    font-size: $font-scale-h4;
}

.heading--05 {
    font-size: $font-scale-regular;
}

/* Buttons ================================================================== */
[class*="button--"] {
    appearance: none;
    border: .3rem solid $white;
    box-shadow: none;
    color: $font-black;
    display: inline-block;
    font-family: $font-aktiv;
    font-weight: 300;
    outline: none;
    padding: 2rem 2.5rem;
    text-decoration: none;
    transition: all .2s ease;
}

.no-touchevents {

    [class*="button--"]:hover {
        border: .3rem solid $red;
        transition: all .2s ease;
    }

}

[class*="button--"][class*="small"] {
    font-size: $font-scale-small;
    font-weight: 500;
    padding: 1rem 1.5rem;
}

[class*="button--"][class*="white"] {
    border-color: $white;
    color: $white;
}

[class*="button--"][class*="red"] {
    border-color: $red;
}

.no-touchevents {

    [class*="button--"][class*="red"]:hover {
        background: $red;
        color: $font-white;
        transition: all .2s ease;
    }

}
