// =============================================================================

    // Divider Styles

// =============================================================================

.index-divider {
    padding: calc(#{$unit} * 3) 0;
    position: relative;
    text-align: center;

    @media #{$l-tablet} {
        text-align: left;
    }

    &::before {
        background: rgba(149, 152, 154, 1);
        content: " ";
        display: block;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        width: 100%;
    }

}

.index-divider__title {
    background: darken($palette--white, 5%);
    color: $font-black;
    display: inline-block;
    font-family: $font-cinzel;
    font-size: $font-scale--h2;
    margin: 0;
    padding: 0 $unit;
    position: relative;
    text-transform: uppercase;
    z-index: 10;

    @media #{$l-tablet} {
        margin: 0 0 0 calc(#{$unit} * 2);
    }

    @media #{$desktop} {
        margin: 0 0 0 calc(#{$unit} * 4);
    }

}
