// =============================================================================

    // Footer Styles

// =============================================================================

footer,
section.footer {
    background: $palette--white;
    border-top: 1px solid $palette--border;
    padding: calc(#{$unit} * 3) 0 calc(#{$unit} * 7.5);
    text-align: center;

    @media #{$navigation} {
        padding: calc(#{$unit} * 3) 0;
    }

    @media screen and (orientation: landscape) and (min-width: 70em) {
        padding: calc(#{$unit} * 3) 0;
    }

}

.footer__copy {
    color: $font-black;
    font-family: $font-aktiv;
    font-size: $font-scale--small;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;

    a {
        color: $palette--red;
    }

}