// =============================================================================

    // Index Styles

// =============================================================================

div.index {
    padding: 0 0 calc(#{$unit} * 3) 0;

    @media #{$navigation} {
        padding: 0 0 calc(#{$unit} * 3) 0;
    }

    @media screen and (orientation: landscape) and (min-width: 70em) {
        padding: 0 0 calc(#{$unit} * 5) 0;
    }

}

.index__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: calc(#{$unit} * .3);
    padding: 0 calc(#{$unit} * 1.5);

    @media #{$l-tablet} {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: calc(#{$unit} * .3);
    }

    @media #{$navigation} {
        padding: 0 calc(#{$unit} * 3);
    }

    @media screen and (orientation: landscape) and (min-width: 70em) {
        padding: 0 calc(#{$unit} * 5);
    }

}

.index__announcement {
    padding: 0;

    @media #{$navigation} {
        padding: 0 calc(#{$unit} * 3);
    }

    @media screen and (orientation: landscape) and (min-width: 70em) {
        padding: 0 calc(#{$unit} * 5);
    }

    .wrapper {
        background: $palette--black;
        border-radius: 5px;
        padding: 2rem;

        p {
            color: $palette--white;
            font-family: $font-aktiv;
            font-size: $font-scale--regular;
            font-weight: 400;
            line-height: 1.5;

            strong {
                color: $palette--red;
                font-weight: 800;
            }

            a {
                color: $palette--white;
                transition: all .2s ease;

                &:hover {
                    color: $palette--red;
                    transition: all .2s ease;
                }

            }

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

        }

    }

}

// Import Guide Divider

    @import "components/divider";

// Import Guide Summary

    @import "components/summary";
