// =============================================================================

    // Index Styles

// =============================================================================

div.index {
    padding: 0 0 calc(#{$unit} * 3) 0;

    @media #{$navigation} {
        padding: 0 0 calc(#{$unit} * 3) 0;
    }

    @media screen and (orientation: landscape) and (min-width: 70em) {
        padding: 0 0 calc(#{$unit} * 5) 0;
    }

}

.index__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: calc(#{$unit} * .3);
    padding: 0 calc(#{$unit} * 1.5);

    @media #{$l-tablet} {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: calc(#{$unit} * .3);
    }

    @media #{$navigation} {
        padding: 0 calc(#{$unit} * 3);
    }

    @media screen and (orientation: landscape) and (min-width: 70em) {
        padding: 0 calc(#{$unit} * 5);
    }

}

// Import Guide Divider

    @import "components/divider";

// Import Guide Summary

    @import "components/summary";
