// =============================================================================

    // Guide Metadata

// =============================================================================
.guide-metadata {

    .guide-metadata__menu {
        display: none;

        @media #{$desktop} {
            display: block;
        }

    }

    .guide-metadata__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: $unit;

        @media #{$desktop} {
            grid-template-columns: 1fr;
        }

        >h5 {
            margin: 0;

            &:first-child {
                margin-top: 0;
            }

        }

    }

}
