// =============================================================================

    // Null Styles

// =============================================================================

.index-null-state {
    display: none;
    padding: calc(#{$unit} * 4.5) calc(#{$unit} * 2) calc(#{$unit} * 3) calc(#{$unit} * 2);
    text-align: center;

    @media #{$navigation} {
        padding: calc(#{$unit} * 7.5) calc(#{$unit} * 3) calc(#{$unit} * 4.5) calc(#{$unit} * 3);
    }

    @media screen and (orientation: landscape) and (min-width: 70em) {
        padding: calc(#{$unit} * 7.5) calc(#{$unit} * 5) calc(#{$unit} * 3) calc(#{$unit} * 5);
    }

    &.active {
        display: block;
    }

}

.index-null-state__title {
    color: $font-black;
    display: block;
    font-family: $font-aktiv;
    font-size: $font-scale--h4;
    font-weight: 800;
    margin: 0 0 calc(#{$unit} * 2) 0;
}

.index-null-state__copy {
    color: $font-black;
    display: block;
    font-family: $font-pt;
    font-size: $font-scale--regular;
    margin: 0 0 calc(#{$unit} * 2) 0;

    &:last-child {
        margin-bottom: 0;
    }

    a {
        color: $palette--red;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }

}