// =============================================================================

    // Search Styles

// =============================================================================

.search {
    padding: 0;

    @media #{$navigation} {
        padding: 0 calc(#{$unit} * 3);
    }

    @media screen and (orientation: landscape) and (min-width: 70em) {
        padding: 0 calc(#{$unit} * 5);
    }

}

.search__form {
    padding: calc(#{$unit} * 2.5) calc(#{$unit} * 1.5) 0;

    @media #{$l-tablet} {
        padding: calc(#{$unit} * 2.5) 0 0;
    }

    label {
        color: $palette--black;
        display: block;
        font-family: $font-aktiv;
        font-size: $font-scale--small;
        font-weight: 400;
        margin: 0 0 calc(#{$unit} / 2) 0;
        width: 100%;
    }

    input {
        border: 1px solid $palette--black;
        border-radius: 3px;
        color: $font-black;
        display: block;
        font-family: $font-aktiv;
        font-size: $font-scale--regular;
        font-weight: 400;
        line-height: 1.5;
        outline: none;
        padding: $unit;
        transition: all .2s ease;
        width: 100%;

        &:focus {
            border: 1px solid $palette--red;
            transition: all .2s ease;
        }

    }

}
