// =============================================================================

    // Guide Summary Styles

// =============================================================================

.summary {
    border-radius: 5px;
    overflow: hidden;
}

.index-item__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: calc(#{$unit} * 1.75);
    position: relative;
    text-decoration: none;

    &:before {
        background: rgb(20,20,20);
        background: -moz-linear-gradient(90deg, rgba(20,20,20,1) 0%, rgba(20,20,20,1) 40%, rgba(20,20,20,0) 100%);
        background: -webkit-linear-gradient(90deg, rgba(20,20,20,1) 0%, rgba(20,20,20,1) 40%, rgba(20,20,20,0) 100%);
        background: linear-gradient(90deg, rgba(20,20,20,1) 0%, rgba(20,20,20,1) 40%, rgba(20,20,20,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141414",endColorstr="#141414",GradientType=1);
        content: " ";
        display: block;
        height: 100%;
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
    }

    &:after {
        background: rgba(20, 20, 20, 1);
        content: " ";
        display: block;
        height: 100%;
        opacity: .8;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .2s ease;
        width: 100%;
        z-index: 6;
    }

}

.no-touchevents {

    .index-item__link:hover {

        &:after {
            opacity: 0;
            transition: all .2s ease;
        }

    }

}

.index-item__background {
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 60%;
}

[class*="index-item__title"] {
    color: $palette--white;
    font-family: $font-aktiv;
    font-size: $font-scale--h4;
    font-weight: 400;
    margin: 0;
    position: relative;
    z-index: 10;

    span {
        font-weight: 400;

        &.hard {
            color: $palette--yellow;
        }

        &.savage {
          color: #f48a20;
        }

        &.extreme {
            color: $palette--red;
        }

        &.ultimate {
            color: $palette--purple;
        }

    }

}

.index-item__difficulty {
    color: $palette--white;
    font-family: $font-aktiv;
    font-size: $font-scale--regular;
    font-weight: 400;
    margin: 0;
    position: relative;
    z-index: 10;
}

.index-item__subtitle {
    color: $palette--red;
    font-family: $font-aktiv;
    font-size: $font-scale--small;
    font-weight: 700;
    margin: 0;
    position: relative;
    z-index: 10;
}