<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body class="{{ page.page_type }} {{ page.page_category }}">
    <div class="layout">
      <!-- Include Sidebar -->
      {% include sidebar.html %}
      <div class="layout__wrapper">
        <!-- Header -->
        {% include header.html %}
        <!-- Content -->
        <div class="about__wrapper">
          <div class="about__intro">
            <h2 class="heading--02">Welcome</h2>
            <p>Welcome to the FFXIV Pocket Guide, an ongoing project created by <a href="https://joshbeveridge.ca" title="Check out Josh's portfolio." target="_blank" rel="noreferrer">Josh Beveridge</a> to support the FFXIV community by enabling a space where guide content can be consumed in a mobile-friendly, ad-free environment.</p>
            <p>The guide is supported by volunteers and players just like yourself:</p>
            <ul>
              {% for i in site.data.contributors %}
                <li>
                  <a href="{{ i.link }}" title="Check out this contributor!" target="_blank" rel="noreferrer">{{ i.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="about__announcements">
            <h2 class="heading--02">Announcements</h2>
            <ul class="announcement__list">
              {% for i in site.data.announcements %}
                {% if i.pinned == true %}
                  <li>📌 <strong>{{ i.date }}</strong>:<br>{{ i.content }}</li>
                {% endif %}
              {% endfor %}
              {% for i in site.data.announcements %}
                {% if i.pinned == false %}
                  <li><strong>{{ i.date }}</strong>:<br>{{ i.content }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="about__roadmap">
            <h2 class="heading--02" style="margin-top: 3rem; margin-bottom: 1rem;">Roadmap</h2>
            <div class="roadmap__wrapper">
              {% for i in site.data.roadmap %}
                {% if i.pinned == true %}
                  <div class="roadmap__object">
                    <h3 class="heading--03">
                      <span>📌</span> 
                      <a
                        href="{{ i.link }}"
                        target="_blank"
                        rel="noreferrer"
                        title="Check out the related issue on Github.">{{ i.name }}</a></h3>
                    <p>{{ i.summary }}</p>
                  </div>
                {% endif %}
              {% endfor %}
              {% for i in site.data.roadmap %}
                {% if i.pinned == false %}
                  <div class="roadmap__object">
                    <h3 class="heading--03">
                      <span>{{ i.icon }}</span> 
                      <a
                        href="{{ i.link }}"
                        target="_blank"
                        rel="noreferrer"
                        title="Check out the related issue on Github.">{{ i.name }}</a></h3>
                    <p>{{ i.summary }}</p>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- Include Footer -->
        {% include footer.html %}
      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>
