<!DOCTYPE html>
<html>

    {% include head_ffxiv.html %}

        <!-- jQuery -->
        <script type="text/javascript" src="{{ "/assets/vendor/jquery.min.js" | prepend: site.baseurl }}"></script>

        <!-- Modernizr -->
        <script type="text/javascript" src="{{ "/assets/vendor/modernizr.js" | prepend: site.baseurl }}"></script>

        <!-- Ionicons -->
        <link rel="stylesheet" href="{{ "/assets/vendor/ionicons.min.css" | prepend: site.baseurl }}" type="text/css" media="all" />

        <!-- Normalize -->
        <link rel="stylesheet" href="{{ "/assets/vendor/normalize.css" | prepend: site.baseurl }}" type="text/css" media="all" />

        <!-- Custom Stylesheet -->
        <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">

    </head>

    <body>

        <a href="/ffxiv" title="Return to the Raid Guide Index" class="guide__return-link">
            <div class="page-container">
                <span><i class="ionicons ion-chevron-left"></i> Return to the Index</span>
            </div>
        </a>

        <section class="guide__hero" style="background-image: url('{% for image in page.image %}{{ image.url }}{% endfor %}')">

            <div class="guide__hero-overlay"></div>

            <div class="content-container">

                <h2 class="heading--02 guide__title">{{ page.title }}</h2>

                <h5 class="heading--05 guide__patch">Patch {{ page.patch }}</h5>

                <h5 class="heading--05 guide__ilvl">Item Level: {{ page.ilvl }}</h5>

                <p class="guide__intro">Note that this guide is not a replacement for first-hand experience. Please visit the original MTQCapture video guide for more comprehensive information.</p>

                <a href="{{ page.mtqvid }}" title="Visit the video guide for this raid." target="_blank" class="mtqLinkGuide button--small--white guide__hero-button">Watch MTQCapture's Video</a>

            </div>

        </section>

        <section class="guide__content">

            <div class="content-container">

                {% for item in page.bosses %}

                    {% for boss in item.boss %}

                        <div class="guide__event">

                            <h3 class="heading--03 guide__mechanic-accordion-trigger">{% if boss.phase %}[Phase: {{ boss.phase }}]{% endif %} {{ boss.title }}</h3>

                            <!-- [{% for type in boss.types %}{{ type.type }}{% endfor %}] -->

                            <div class="guide__mechanic-content-wrapper">

                                <div class="guide__alerts">

                                    <h5 class="heading--05 guide__alerts-label">Important Notes:</h5>

                                    <ul class="guide__alerts-list">
                                        {% for alert in boss.alerts %}
                                            <li class="guide__alerts-item">
                                                {{ alert.alert }}
                                            </li>
                                        {% endfor %}
                                    </ul>

                                </div>

                                {% for mechanic in boss.mechanics %}

                                    <h4 class="heading--04 guide__mechanic-title">{{ mechanic.title }}</h4>

                                    <div class="guide__mechanic-tag-list">
                                        {% for tag in mechanic.tags %}
                                            <span class="guide__mechanic-tag">{{ tag.tag }}</span>
                                        {% endfor %}
                                    </div>

                                    <!-- Regular Mechanics -->
                                    <ul class="guide__mechanic-list">
                                        {% for note in mechanic.notes %}
                                        <li>
                                            {{ note.note }}
                                        </li>
                                        {% endfor %}
                                    </ul>

                                    <!-- Combo Mechanics -->
                                    {% for combo in mechanic.combo %}

                                        <h5 class="heading--05 guide__mechanic-combo-title">{{ combo.title }}</h5>

                                        <ul class="guide__mechanic-list">
                                            {% for note in combo.notes %}
                                            <li>
                                                {{ note.note }}
                                            </li>
                                            {% endfor %}
                                        </ul>

                                    {% endfor %}

                                    {% if mechanic.images %}

                                        <div class="flex-grid">

                                            {% for image in mechanic.images %}
                                                <div class="box med-1of3 guide__mechanic-image-wrapper">
                                                    <img src="{{ image.url }}" alt="{{ image.alt }}" class="guide__mechanic-image">
                                                </div>
                                            {% endfor %}

                                        </div>

                                    {% endif %}

                                {% endfor %}

                            </div>

                            <hr class="guide__event-divider">

                        </div>

                    {% endfor %}

                {% endfor %}

            </div>

        </section>

        {% include attribution.html %}

        {% include scripts.html %}

    </body>

</html>
