<!DOCTYPE html>
<html>

    {% include head_ffxiv.html %}

        <!-- jQuery -->
        <script type="text/javascript" src="{{ "/assets/vendor/jquery.min.js" | prepend: site.baseurl }}"></script>

        <!-- Modernizr -->
        <script type="text/javascript" src="{{ "/assets/vendor/modernizr.js" | prepend: site.baseurl }}"></script>

        <!-- Ionicons -->
        <link rel="stylesheet" href="{{ "/assets/vendor/ionicons.min.css" | prepend: site.baseurl }}" type="text/css" media="all" />

        <!-- Normalize -->
        <link rel="stylesheet" href="{{ "/assets/vendor/normalize.css" | prepend: site.baseurl }}" type="text/css" media="all" />

        <!-- Custom Stylesheet -->
        <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">

    </head>

    <body class="new-trial">

        <section class="guide__hero" style="background-image: url('{% for image in page.image %}{{ image.url }}{% endfor %}')">

            <div class="guide__hero-overlay"></div>

            <a href="/" title="Return to the Raid Guide Index" class="guide-trial__return-link">
                <i class="ionicons ion-chevron-left"></i>Return to the Index
            </a>

            <div class="content-container">

                <h2 class="heading--02 guide__title">{{ page.title }} {% if page.difficulty %}({{ page.difficulty }}){% endif %}</h2>

                <h5 class="heading--05 guide__patch">Patch {{ page.patchNumber }} - {{ page.patchName }}</h5>

                {% if page.ilvl %}
                    <h5 class="heading--05 guide__ilvl">Item Level: {{ page.ilvl }}</h5>
                {% endif %}

                {% if page.plvl %}
                    <h5 class="heading--05 guide__ilvl">Player Level: {{ page.plvl }}</h5>
                {% endif %}

                <p class="guide__intro">Note that this guide is not a replacement for first-hand experience. Please visit the original MTQCapture video guide for more comprehensive information.</p>

                <a href="{{ page.mtqvid }}" title="Visit the video guide for this raid." target="_blank" class="mtqLinkGuide button--small--white guide__hero-button">Watch MTQCapture's Video</a>

            </div>

        </section>

        <section class="guide__content">

            <div class="content-container">

                <!-- Trial Sequence -->
                {% if page.sequence %}

                    <div class="guide__event">

                        <h3 class="heading--03 guide-trial__accordion-trigger">Fight Sequence</h3>

                        <div class="guide-trial__content-wrapper">

                            {% for phase in page.sequence %}

                                <div class="guide__event-item">

                                    <!-- Phase Name -->
                                    <h4 class="heading--04 guide-trial__item-title">Phase: {{ phase.phase }}</h4>

                                    <!-- Phase Attacks -->
                                    {% if phase.attacks %}

                                        <div class="guide-trial__attack-order-wrapper">
                                            {% for attack in phase.attacks %}
                                                <span class="guide-trial__attack-order-attack">{{ attack.attack }}{% if forloop.last != true %} <span class="guide-trial__attack-order-divider">></span> {% endif %}</span>
                                            {% endfor %}
                                        </div>

                                    {% endif %}

                                    <!-- Phase Alerts -->
                                    {% if phase.alerts %}
                                        <div class="guide-trial__alerts">

                                            <h5 class="heading--05 guide-trial__alerts-label">Important Notes:</h5>

                                            <ul class="guide-trial__alerts-list">
                                                {% for alert in phase.alerts %}
                                                    <li class="guide-trial__alerts-item">
                                                        {{ alert.alert }}
                                                    </li>
                                                {% endfor %}
                                            </ul>

                                        </div>
                                    {% endif %}

                                    <!-- Phase Mechanics -->
                                    {% if phase.mechanics %}

                                        <h5 class="heading--05 guide-trial__mechanic-section-title">Phase Mechanics</h5>

                                        {% for mechanic in phase.mechanics %}

                                            <h6 class="heading--06 guide-trial__mechanic-title">{{ mechanic.title }}</h6>

                                            <ul class="guide-trial__notes">
                                                {% for note in mechanic.notes %}
                                                    <li>
                                                        {{ note.note }}
                                                    </li>
                                                {% endfor %}
                                            </ul>

                                        {% endfor %}

                                    {% endif %}

                                </div>

                                <!-- Determines the current phase. -->
                                {% assign currentPhase = phase.phase %}

                                <!-- Enters the attack loop. -->
                                {% for attack in page.attacks %}
                                    <!-- Enters the attack's phases. -->
                                    {% for attackPhase in attack.phases %}
                                        <!-- Checks to see if any of the attack's phases are equal to the current phase. -->
                                        {% if attackPhase.phase == currentPhase %}

                                            <div class="guide__event-item--attack">

                                                <div class="guide-trial__attack-trigger">

                                                    <!-- Attack Name -->
                                                    <h4 class="heading--04 guide-trial__attack-title">{{ attack.title }}</h4>

                                                </div>

                                                <div class="guide-trial__attack-content">

                                                    <!-- Attack Type -->
                                                    {% if attack.combo %}
                                                        <!-- Do nothing. -->
                                                    {% else %}
                                                        <div class="guide-trial__type-tag-list">
                                                            {% for role in attack.roles %}
                                                                <span class="guide-trial__role-tag">{{ role.role }}</span>
                                                            {% endfor %}
                                                            {% for tag in attack.tags %}
                                                                <span class="guide-trial__type-tag">{{ tag.tag }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}

                                                    <!-- Attack Notes -->
                                                    {% if attack.notes %}
                                                        <ul class="guide-trial__notes">
                                                            {% for note in attack.notes %}
                                                                <li>
                                                                    {{ note.note }}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}

                                                    <!-- Combo Attacks -->
                                                    {% for combo in attack.combo %}

                                                        <h5 class="heading--05 guide-trial__combo-title">{{ combo.title }}</h5>

                                                        <!-- Attack Type -->
                                                        <div class="guide-trial__type-tag-list">
                                                            {% for role in combo.roles %}
                                                                <span class="guide-trial__role-tag">{{ role.role }}</span>
                                                            {% endfor %}
                                                            {% for tag in combo.tags %}
                                                                <span class="guide-trial__type-tag">{{ tag.tag }}</span>
                                                            {% endfor %}
                                                        </div>

                                                        <!-- Attack Notes -->
                                                        <ul class="guide-trial__notes">

                                                            {% for note in combo.notes %}

                                                                <li>
                                                                    {{ note.note }}
                                                                </li>

                                                            {% endfor %}

                                                        </ul>

                                                    {% endfor %}

                                                    {% if attack.images %}

                                                        <div class="flex-grid">

                                                            {% for image in attack.images %}
                                                                <div class="box med-1of3 guide-trial__image-wrapper">
                                                                    <img src="{{ image.url }}" alt="{{ image.alt }}" class="guide-trial__image">
                                                                </div>
                                                            {% endfor %}

                                                        </div>

                                                    {% endif %}

                                                </div>

                                            </div>

                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}

                            {% endfor %}

                        </div>

                    </div>

                    <hr class="guide__event-divider">

                {% endif %}

                <!-- Trial Stances -->
                {% if page.stances %}

                    <div class="guide__event">

                        <h3 class="heading--03 guide-trial__accordion-trigger">Boss Stances</h3>

                        <div class="guide-trial__content-wrapper">

                            {% for stance in page.stances %}

                                <div class="guide__event-item">

                                    <!-- Stance Name -->
                                    <h4 class="heading--04 guide-trial__item-title">{{ stance.title }}</h4>

                                    <!-- Stance Attacks -->
                                    {% if stance.attacks %}

                                        <div class="guide-trial__attack-order-wrapper">
                                            {% for attack in stance.attacks %}
                                                <span class="guide-trial__attack-order-attack">{{ attack.attack }}{% if forloop.last != true %} <span class="guide-trial__attack-order-divider">></span> {% endif %}</span>
                                            {% endfor %}
                                        </div>

                                    {% endif %}

                                    <!-- Stance Notes -->
                                    <ul class="guide-trial__notes">
                                        {% for note in stance.notes %}
                                            <li>
                                                {{ note.note }}
                                            </li>
                                        {% endfor %}
                                    </ul>

                                </div>

                            {% endfor %}

                        </div>

                    </div>

                    <hr class="guide__event-divider">

                {% endif %}

                <!-- Trial Spawns -->
                {% if page.spawns %}

                    <div class="guide__event">

                        <h3 class="heading--03 guide-trial__accordion-trigger">Enemy Spawns</h3>

                        <div class="guide-trial__content-wrapper">

                            {% for spawn in page.spawns %}

                                <div class="guide__event-item">

                                    <!-- Spawn Name -->
                                    <h4 class="heading--04 guide-trial__item-title">{{ spawn.title }}</h4>

                                    <!-- Spawn Attacks -->
                                    {% if spawn.attacks %}

                                        <div class="guide-trial__attack-order-wrapper">
                                            {% for attack in spawn.attacks %}
                                                <span class="guide-trial__attack-order-attack">{{ attack.attack }}{% if forloop.last != true %} <span class="guide-trial__attack-order-divider">|</span> {% endif %}</span>
                                            {% endfor %}
                                        </div>

                                    {% endif %}

                                    <!-- Spawn Notes -->
                                    <ul class="guide-trial__notes">
                                        {% for note in spawn.notes %}
                                            <li>
                                                {{ note.note }}
                                            </li>
                                        {% endfor %}
                                    </ul>

                                </div>

                            {% endfor %}

                        </div>

                    </div>

                    <!-- <hr class="guide__event-divider"> -->

                {% endif %}

            </div>

        </section>

        {% include attribution.html %}

        {% include scripts.html %}

    </body>

</html>
