<!DOCTYPE html>

<html lang="en">

    <head>

        {% include site_head_new.html %}

    </head>

    <body class="{{ page.pageClass }}">

        <div class="site-grid">

            <button class="sidebar__trigger">
                <span class="sidebar__trigger-inactive"><i class="material-icons">explore</i>Menu</span>
                <span class="sidebar__trigger-active"><i class="material-icons">close</i>Close</span>
            </button>

            <div class="site-grid__sidebar-overlay"></div>

            <div class="site-grid__sidebar" style="background-image: url('{{ "/assets/img/guide_index.jpg" | prepend: site.baseurl }}');">
                {% include sidebar.html %}
            </div>

            <div class="site-grid__content-wrapper">

                <!-- Include Site Header -->
                {% include site-header.html %}

                <!-- Include Guide Layout -->
                {% include guide-layout.html %}

                <!-- Include Recent Guides -->
                {% include recent-guides.html %}

                <!-- Include Footer -->
                {% include footer.html %}

            </div>

        </div>

        {% include scripts.html %}

    </body>

</html>
