<!DOCTYPE html>
<html>

    {% include site_head.html %}

        <!-- jQuery -->
        <script type="text/javascript" src="{{ "/assets/vendor/jquery.min.js" | prepend: site.baseurl }}"></script>

        <!-- Modernizr -->
        <script type="text/javascript" src="{{ "/assets/vendor/modernizr.js" | prepend: site.baseurl }}"></script>

        <!-- Ionicons -->
        <link rel="stylesheet" href="{{ "/assets/vendor/ionicons.min.css" | prepend: site.baseurl }}" type="text/css" media="all" />

        <!-- Normalize -->
        <link rel="stylesheet" href="{{ "/assets/vendor/normalize.css" | prepend: site.baseurl }}" type="text/css" media="all" />

        <!-- Custom Stylesheet -->
        <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">

    </head>

    <body class="{{ page.pageClass }}">

        <div class="site-grid">

            <button class="sidebar__trigger">
                <span class="sidebar__trigger-inactive"><i class="material-icons">explore</i>Menu</span>
                <span class="sidebar__trigger-active"><i class="material-icons">close</i>Close</span>
            </button>

            <div class="site-grid__sidebar-overlay"></div>

            <div class="site-grid__sidebar" style="background-image: url('{{ "/assets/img/guide_index.jpg" | prepend: site.baseurl }}');">
                {% include sidebar.html %}
            </div>

            <div class="site-grid__content-wrapper">

                <!-- Include Site Header -->
                {% include site-header.html %}

                {% include guide-layout.html %}

            </div>

        </div>

        {% include scripts.html %}

    </body>

</html>
